[2017-09-19 23:08] dmzuckerman opened #1 "Links to analysis software"
Ideally, each section should link to working tools you trust.

[2017-09-19 23:10] dmzuckerman opened #2 "Stuff for Alan to check/expand in global section"
@agrossfield at some point you should look at what I've said about your block covariance method in the global sampling assessment section.

[2017-09-20 13:58] agrossfield commented on #2
Ok, I’ll try to look later this week.

Alan

On Sep 19, 2017, at 7:10 PM, dmzuckerman <notifications@github.com<mailto:notifications@github.com>> wrote:

@agrossfield<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_agrossfield&d=DwMCaQ&c=4sF48jRmVAe_CH-k9mXYXEGfSnM3bY53YSKuLUQRxhA&r=49qnaP-kgQR_zujl5kbj_PmvQeXyz1NAoiLoIzsc27zuRX32UDM2oX8NQCaAsZzH&m=qZnQh8hbJGgeRLzyj1TLEKGCn7EQH5DrU

[2017-09-20 14:29] dmzuckerman commented on #2
@agrossfield maybe it makes more sense for you to take on the global section in the next round.  better to do a good job with quick-and-dirty now.
________________________________
From: Grossfield Lab [notifications@github.com]
Sent: Wednesday, September 20, 2017 6:58 AM
To: dmzuckerman/Sampling-Uncertainty
Cc: Daniel Zuckerman; Author
Subject: Re: [dmzuckerman/Sampling-Uncertainty] Stuff for Alan

[2017-09-25 13:24] #2 closed

[2017-09-25 13:30] agrossfield opened #3 "Question about uncertainty propagation section"
I understand making it clear that there are limitations to the use of the Taylor expansion approach (this is important and NOT obvious to many people!).

However, I don't see any reason why you couldn't directly estimate the uncertainty in dA via block averaging.  Why would averaging exp(-beta dU) in block be ok, but not taking the log of it?  I know it's not exactly the usual block averaging form

[2017-09-25 13:39] ajschult commented on #3
To be clear, you're asking about computing something like ln<exp(-beta dU)> for each block?  The pathological case might serve as a good example of failure.  It could be that dU is consistently infinity for all samples in a block.  <exp(-beta dU)> is 0 and ln(0) is NaN.  Clearly, this cannot be used to compute an uncertainty.  Moving away from the pathological case,  ln<exp(-beta dU)> will tend to

[2017-09-25 13:44] agrossfield commented on #3
That makes perfect sense, and should be added to the document.  I figured I must be missing something. :)

Alan

On Sep 25, 2017, at 9:39 AM, Andrew Schultz <notifications@github.com<mailto:notifications@github.com>> wrote:

To be clear, you're asking about computing something like ln<exp(-beta dU)> for each block? The pathological case might serve as a good example of failure. It could be that dU

[2017-09-25 14:29] ajschult commented on #3
I've added more text to explain why propagation of uncertainty is needed.

Thanks for the feedback!

[2017-09-25 14:29] #3 closed

[2017-09-25 15:06] agrossfield commented on #3
I’m pleased — this mechanism seems to be working as designed!

Alan

On Sep 25, 2017, at 10:29 AM, Andrew Schultz <notifications@github.com<mailto:notifications@github.com>> wrote:

I've added more text to explain why propagation of uncertainty is needed.

Thanks for the feedback!

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://url

[2017-09-26 04:59] ajschult opened #4 "Block averaging citation"
I was trying to write up a bit about block averaging and cite Flyvbjerg and Petersen. I was going to mention Kolafa's approach to correcting the uncertainty for correlation[1], but noticed that Kolafa's paper from 1986 (which takes block averaging as a given) predates Flyvbjerg and Petersen's paper[2] (from 1989) by 3 years.  Frenkel & Smit cite Flyvbjerg and Petersen while Allen & Tildesley (publ

[2017-09-26 10:03] agrossfield commented on #4
I don't know the other refs - wouldn't be the first time the wrong people were given credit. Good catch!

Dr. Alan Grossfield
Department of Biochemistry and Biophysics
University of Rochester Medical Center

On Sep 26, 2017, at 12:59 AM, Andrew Schultz <notifications@github.com<mailto:notifications@github.com>> wrote:

I was trying to write up a bit about block averaging and cite Flyvbjerg and Pet

[2017-09-26 14:28] ajschult commented on #4
OK, I cited Friedberg&Cameron + Frenkel&Smit

[2017-09-26 14:28] #4 closed

[2017-09-28 19:23] dmzuckerman opened #5 "Figures - need reference/permission or credit"
Any figure/data shown should have a reference if it's published (in which case we need to get permission for it - I will find out more about this).  If it's not published just put in a ref to yourself - e.g., [P Patrone, unpublished].

[2017-09-28 19:34] dmzuckerman opened #6 "Specific observables section"
@mangiapasta and @ajschult - you guys got a great draft going for the specific observables section.  I have some questions/comments that hopefully you could address in the next few days:

- I think this is for Paul: The first subsection addresses 'quality of data', which really means 'overall qualitative behavior of data', I think.  You give an example of material failure with increasing strain.

[2017-09-28 19:41] dmzuckerman opened #7 "Enhanced sampling: replica exchange section and WE"
@drroe thanks for all the material here.  I think we will need to re-categorize and re-arrange some of it

- 'before running' - these great items should probably go in our pre-simulation sanity checks section
- 'when running' - leave this for now but it probably should go in a separate article on best practices for enhanced sampling REMD.   (You may want to collaborate with Yuji Sugita and/or Adri

[2017-09-29 01:32] ajschult commented on #6
Pathologically bad individual blocks aren't a big problem.  If the blocks are small enough, then individual bad blocks are inevitable, but the approach work fine so long as the Taylor series approximation holds.  I would assert that propagation of uncertainty does work well for free energy so long as the calculation as a whole is working.  I have spent a lot of time trying to figure out how to est

[2017-09-29 13:28] agrossfield commented on #6
Re bootstrapping samples needing to be uncorrelated:  You can still do bootstrapping for correlated data.  However, you need to reduce the number of samples you draw to reflect this fact.  If you have 10,000 frames in your trajectory, but your correlation analysis indicate you really only have ~100 independent samples, you can estimate uncertainties by drawing sets of 100 data points.  It's not es

[2017-09-29 14:19] dmzuckerman commented on #6
@mangiapasta and @ajschult - Andrew, thanks for the further explanation.  I think the fact that the linear/Taylor propagation of error required some discussion among us (the experts!) suggests that could use a little more clarification.  Also, since you are skimming the surface a bit, it would be good to cite references where readers could go for more.

@mangiapasta Paul I just wanted to point you

[2017-09-29 14:20] mangiapasta commented on #6
I think that the synthetic data approach is in fact parametric bootstrapping.  We just always called in the synthetic data approach.

The main reason why I prefer the parametric approach over others is that one can perform the analysis on correlated data and don't suffer from needing to generate smaller synthetic sets, provided one can model the correlations.  So perhaps it makes sense to merge th

[2017-09-29 14:25] dmzuckerman commented on #6
@mangiapasta Yes, please merge and clarify then.

[2017-09-29 14:27] ajschult commented on #6
@mangiapasta we were also doing parametric bootstrapping as well before we knew the method already existed.  I think a merged section will work fine.

[2017-09-29 14:27] mangiapasta commented on #6
Just to emphasize that the parametric approach can handle correlated data, cf. appendix in this paper
________________________________
From: Patrone, Paul (Fed)
Sent: Friday, September 29, 2017 10:20:09 AM
To: dmzuckerman/Sampling-Uncertainty; dmzuckerman/Sampling-Uncertainty
Subject: Re: [dmzuckerman/Sampling-Uncertainty] Specific observables section (#6)

I think that the synthetic data approach

[2017-09-29 14:29] dmzuckerman commented on #6
@mangiapasta  Remember if there's anything you need to clarify to us, it certainly needs to be clarified/refereced in manuscript.

[2017-09-29 14:32] mangiapasta commented on #6
@dmzuckerman @ajschult Sounds good.  If okay with you two I don't mind taking a first crack at merging / clarifying the boostrap section.  I still need to read over the other sections, so I may have a few more comments.  (Also, apologies for being a bit slow to respond; we're in the midst of an internal proposal exercise that is [thankfully] over today)

[2017-09-29 14:34] ajschult commented on #6
@mangiapasta yes, please go ahead with the merge.

[2017-09-29 14:37] dmzuckerman commented on #6
@mangiapasta yes, please go ahead.  I would like you and @ajschult to be happy with the section before we turn it over for editing.  I have some ideas for intro material for the section, but I'd like the experts to get the technical stuff straightened.

[2017-09-29 14:39] mangiapasta commented on #6
@dmzuckerman Just to reply to some of your original comments:

"The first subsection addresses 'quality of data', which really means 'overall qualitative behavior of data', I think."

Yours is a better way to paraphrase the content of that section.  I'll edit a bit for clarity in light of your comment.

@dmzuckerman @ajschult Dan's comment, "Synthetic data: looks like this should go right after pr

[2017-09-29 15:07] dmzuckerman commented on #6
@mangiapasta @ajschult @agrossfield  Doesn't bootstrapping implicitly do error propagation since it provides confidence intervals for derived quantities?  This issue must be in the Tibshirani book.  Do we want to tell readers that bootstrapping/synthetic data are more modern and systematic ways of propagating error compared to linear formulas? Organizationally, the propagation subsection can refer

[2017-09-29 15:08] ajschult commented on #6
@mangiapasta Yes, bootstrapping can be used for uncertainty propagation.  What I called "simple" bootstrapping can be used when the Taylor series approach fails due to nonlinearity (such as for free energy), which I should probably highlight more clearly.

I consider the Taylor series approach to be the primary means to propagate uncertainty (due to its simplicity), with the caveat that you have t

[2017-09-29 16:35] ajschult commented on #6
@dmzuckerman Simple bootstrapping should be more robust than the Taylor series approach.  Parametric bootstrapping has many of the same problems.  It avoids the need to express y=f(x), but can still have trouble with nonlinear functions.  In the free energy example, if <exp(-beta deltaU)> = 1 +/- 0.5 and you generate new estimates for that quantity from a Gaussian centered at 1 with a width of 0.5

[2017-09-29 21:01] dmzuckerman commented on #6
@ajschult Thanks for explaining.  Please clarify in the article as needed.

[2017-09-30 13:01] ajschult commented on #6
I've tried to address most of what we've talked about here.  I'll need to make a second pass once @mangiapasta folds in the synthetic data section.

[2017-09-30 13:07] ajschult commented on #6
I also noticed that we don't have anywhere in the document that discusses repeating simulations to either check or compute uncertainties (except to mention this idea in the definition of precision).  I could add a sentence or two to the block averaging section (it's a lot like using the whole simulation as a block).  Or it could go in a new section.  I see that we originally planned a "basics" sec

[2017-09-30 16:40] agrossfield commented on #6
Agreed. That's actually far and away the best way to estimate uncertainty (you get to use the classic statistical formulas!), but there is a catch. If you're going to claim the individual trajectories are independent measurements, you need to make the starting structures as different as you can. What that means is system-dependent. For a protein, you need to start with the native state, but you co

[2017-10-01 04:47] ajschult commented on #6
OK, the basics section exists and discusses computing uncertainties from multiple simulations.  The original outline suggested that this section would include "what to shoot for", but I'm not sure how to prescribe a target uncertainty.

[2017-10-01 23:20] dmzuckerman opened #8 "Repeated simulations"
@ajschult @agrossfield thanks for raising this point.  I started a new issue on this because I think it's important enough that I'd like to be sure that we mention it in multiple places.  I already put it into my discussion of asssessing global sampling using enhanced-sampling methods.

Another point I'd like to make somewhere is that repeated simulations can provide statistically meaningful obser

[2017-10-02 12:39] drroe commented on #7
Sorry for the delayed response - I've been traveling. I'll take a crack at this today.

[2017-10-02 12:44] mangiapasta commented on #6
@ajschult @agrossfield The dark uncertainty method actually does provide a way to estimate uncertainties on the basis of multiple simulations.  It might make sense to fold the relevant sections together.

[2017-10-02 14:04] mangiapasta commented on #5
What information needs to be provided if the figure is published but not subject to copyright (e.g. if someone is a Fed)?  The figure I put in falls under that category

[2017-10-02 14:27] mangiapasta opened #9 "Terminology / NIST internal review"
When it comes to language about uncertainties, I think it would be helpful if we can settle on a common terminology and definitions.  From NIST perspective, this may a necessity.  The document will have to go through an internal review that takes ~ 1 month before it can be published with NIST authors.  Our reviewers will check language, units, etc. to make sure that they comply with our standards

[2017-10-02 14:33] dwsideriusNIST commented on #9
Paul, I have to second your comment here. As far as which requirements are appropriate, I think we just need to follow NIST SP-811.

We should confirm that all of the quantitative descriptors are consistent and unambiguous. I'm freed up from end of FY stuff now, so I'll give the document a read-through and generate a list of statistical descriptors for which to confirm definitions. It might be use

[2017-10-02 14:36] mangiapasta commented on #9
Great, thanks!  I just talked to my division chief.  He pointed me to http://www.bipm.org/en/publications/guides/vim.html which he says is an appropriate resource for use of terminology.  I'm told that NIST played a role in development of these standards, so it makes sense for us to use them.

[2017-10-02 14:37] dwsideriusNIST commented on #5
Paul: 1) which journal was the figure published in? 2) were *all* of the authors Feds? We can contact the WERB chair.

[2017-10-02 14:40] mangiapasta commented on #5
For the figure I uploaded, I was the only author (and a fed at the time).  It was published in the CAMX 2016 Conference Proceedings.

________________________________
From: Daniel W. Siderius <notifications@github.com>
Sent: Monday, October 2, 2017 10:37:33 AM
To: dmzuckerman/Sampling-Uncertainty
Cc: Patrone, Paul (Fed); Comment
Subject: Re: [dmzuckerman/Sampling-Uncertainty] Figures - need refere

[2017-10-02 14:43] dwsideriusNIST commented on #9
Totally forgot about the VIM; let's use it to set vocabulary and then reference the GUM (another BIPM document, see links in https://www.nist.gov/information-technology-laboratory/sed/topic-areas/measurement-uncertainty) if clarification is necessary. We could also point readers to the statistics handbook (https://www.nist.gov/programs-projects/nistsematech-engineering-statistics-handbook) if need

[2017-10-02 14:47] dwsideriusNIST commented on #5
I checked the WERB FAQ, it's easy: put the citation in the caption, then add "Reprinted courtesy of the National Institute of Standards and Technology, U.S. Department of Commerce. Not copyrightable in the United States."

[2017-10-02 14:48] mangiapasta commented on #5
Great, thanks!

________________________________
From: Daniel W. Siderius <notifications@github.com>
Sent: Monday, October 2, 2017 10:47:10 AM
To: dmzuckerman/Sampling-Uncertainty
Cc: Patrone, Paul (Fed); Comment
Subject: Re: [dmzuckerman/Sampling-Uncertainty] Figures - need reference/permission or credit (#5)

I checked the WERB FAQ, it's easy: put the citation in the caption, then add "Reprinted

[2017-10-02 16:11] mangiapasta commented on #6
I merged the Bootstrap / synthetic data section.

Below I've written some general comments / thoughts on this section.  I'm happy to make changes now, let others do it, or hold off until a later stage, but I wanted to get my thoughts down now.

1) Title: I would change "Computing error in specific observables" to "Computing uncertainty in specific observables."

2) If we use a standard document /

[2017-10-03 21:35] dmzuckerman commented on #6
@mangiapasta - thanks for all that.  some replies ...

1. Title: I would change "Computing error in specific observables" to "Computing uncertainty in specific observables."
** seems fine
2. If we use a standard document / set of documents as a source of definitions, we should state that upfront.
** do you have a suggestion for this?
3. In that vein, I would changes the first instances of "standar

[2017-10-03 21:37] ajschult commented on #6
@mangiapasta @dmzuckerman yes, the bit about applying the parametric bootsrapping to free energy looks good to me.

[2017-10-03 22:30] agrossfield commented on #6
“Standard error” is the technical term from statistics

___________________________________
Dr. Alan Grossfield
Associate Professor
Department of Biochemistry and Biophysics
University of Rochester Medical Center
610 Elmwood Ave, Box 712
Rochester, NY 14642
Phone: 585 276 4193<tel:585%20276%204193>
http://membrane.urmc.rochester.eduu<http://membrane.urmc.rochester.edu>

On Oct 3, 2017 at 5:35 PM,

[2017-10-04 14:24] mangiapasta commented on #6
Re: documents for source of definitions. Dan Siderius had a pretty comprehensive list on the thread about terminology / NIST internal review.  I attached the "Guide to the expression
of uncertainty in measurement," which is one of our references for issues like this.

So, for example, standard uncertainty is defined on page 3 as "uncertainty of the result of a measurement expressed as a standard d

[2017-10-04 16:20] drroe commented on #7
OK, fleshed out a bit more and pointed to literature for examples in most cases.

@dmzuckerman I didn't add anything about combined clustering or combined PC overlap analysis because I feel that is generalizable to all MD sims; however I'm not sure where it best fits in. Maybe I should put that in the quick-and-dirty section?

[2017-10-04 17:06] dmzuckerman commented on #7
@drroe Thanks ... and clustering/overlap sound good for quick-and-dirty.  Why don't you plan to edit that section when we do the next round?

[2017-10-04 17:20] drroe commented on #7
10-4.

Let me know if you think the 'assess results' section still needs more attention. I tried to keep it brief to honor the "checklist" style, but if it still feels too thin I can add a bit more.

[2017-10-04 17:21] dmzuckerman commented on #9
@mangiapasta and @dwsideriusNIST  who even knew there was such a thing as a VIM?!?  Beautiful.  Let me look through as soon as I can and reach out to the group after.  I appreciate the points above, including the "S" in NIST.  This will be a good thing.  We can always offer 'translation' if the official terminology differs from community-specific lingo.

[2017-10-04 23:27] dmzuckerman commented on #9
I did a quick reivew of the VIM, which I added to our repo (including some highlighting which may help folks navigate this 100+ page pdf; in Adobe, click on Comments to see where these occur).

Given that all this is standardized (and required with NIST) I think we should indeed go along with it.  We should also provide some helpful translation (which we can remind readers of in key places), which

[2017-10-11 01:59] dmzuckerman commented on #6
@mangiapasta @ajschult @agrossfield I would like to get your input on something sorta important ...

Currently the draft says, "When reporting these estimates, it is important to also provide an estimate of the uncertainty of the result, typically as a standard error."  On the one hand, this is perfectly reasonable, and once you know what is being reported, you essentially have all the info you ne

[2017-10-11 14:05] mangiapasta commented on #6
I would actually argue a slightly different perspective, namely that the concept of a "healthy" confidence interval can't be divorced from a particular application or conclusion that one is trying to draw from the data.

I think degenerate cases illustrate the point.

If I'm trying to design an airplane wing using simulation, then my uncertainty bounds had better be conservative.  I want to be 99.

[2017-10-11 17:53] dmzuckerman commented on #6
@mangiapasta Good points - especially about the purpose driving the approach.

Part of me would love to advocate for 3-sigma, but in the biomolecular world, that might invalidate all conclusions ever reported!  (Only half joking.)  In any case, we can explain the inequality issue.

FYI in the biomolecular world, a common goal is to compare two 'conditions' (a protein bound to a ligand or not; a wi

[2017-10-11 18:05] agrossfield commented on #6
I’ll write more when I have time, but part of me would be happy if people actually reported anything meaningful in terms of standard error.  The most common thing _still_ is just the standard dev from the sim itself, which is worthless as a convergence measure.  If someone reports +/- 1 se (e.g. computed from multiple trajectories), I’m happy, because I can mentally double it and see the differenc

[2017-10-11 23:21] ajschult commented on #6
I prefer reporting 1 sigma as the uncertainty.  I think of the error bars as a indication of the variability of the data rather than a bound on the true value (because there is no bound).  1 sigma is a far better description of the variability than 3 or 5 sigma.  Beyond that, conservative error bars just create a different problem.  Someone looks at two values (say 6 +/- 4 and 9 +/- 4) and says th

[2017-10-11 23:36] agrossfield commented on #6
Beautifully said, Andrew.

___________________________________
Dr. Alan Grossfield
Associate Professor
Department of Biochemistry and Biophysics
University of Rochester Medical Center
610 Elmwood Ave, Box 712
Rochester, NY 14642
Phone: 585 276 4193<tel:585%20276%204193>
http://membrane.urmc.rochester.eduu<http://membrane.urmc.rochester.edu>

On Oct 11, 2017 at 7:21 PM, <Andrew Schultz<mailto:notif

[2017-10-12 13:55] mangiapasta commented on #9
@dwsideriusNIST Dan, can you verify  these definitions?  I think I've been using wrong terminology myself, and I want to make sure we're all in agreement on what we're actually saying.  (Screenshots are straight from GUM)

**Standard uncertainty:** uncertainty in a result as expressed in terms of a standard deviation.  (Note: which method we use to compute the standard deviation depends on what un

[2017-10-12 14:25] agrossfield commented on #9
Every text I’ve seen has referred to the last quantity as the standard error.  At the very least, we need to explain not just what the correct terminology is, but also the common misuses of them (if this is actually wrong), because we’re not going to be able to change people’s usage (at least not in the short term).

Alan

On Oct 12, 2017, at 9:55 AM, mangiapasta <notifications@github.com<mailto:n

[2017-10-12 14:38] dwsideriusNIST commented on #9
Paul,
First, all of your personal definitions of these quantities are typical terms used in engineering statistics, but alas the GUM rules supreme. I used those terms myself in a chapter on engineering statistics.
Second, here is a slight revision to your definitions:

Standard uncertainty: uncertainty in a result as expressed in terms of a standard deviation. (Note: which method we use to compute

[2017-10-12 14:40] dwsideriusNIST commented on #9
Alan and Paul,
I think a footnote or endnote giving "equivalency" definitions may be helpful. The point of the GUM is to establish definitions with total lack of ambiguity in an international context, so it does have to depart from colloquial usages. The downside is that it becomes excessively pedantic.

[2017-10-12 14:43] agrossfield commented on #9
I agree, but I think we have to go a step farther than that.  I see junior investigators as the largest audience for this work, and we have to warn them how they’re going to see the words used, even if they’re technically incorrect.  I’ve got the same thing going in the free energy profile document, since many people (most people, I think) use the term potential of mean force incorrectly.  I want

[2017-10-12 14:48] mangiapasta commented on #9
@dwsideriusNIST Re: your comment, "are you getting at the difference between type A and B uncertainty?"

I'm more thinking about the discussion ongoing in the Specific Observables thread.  Dan Zuckerman asked a question about what we should report as "reasonable" error bars.  It seems that there are a variety of things one is uncertain about: (i) the output of a simulation; (ii) the expected value

[2017-10-12 15:05] mangiapasta commented on #9
In other words, we are always uncertain _about something_.  The means of computing and representing that uncertainty (e.g. on a plot) cannot be divorced from the thing we are uncertain about.

So, I understand the definition "standard uncertainty" as only specifying that the uncertainty is expressed in terms of a standard deviation.  It does not specify what the object of uncertainty is, nor does

[2017-10-12 15:10] dwsideriusNIST commented on #9
@agrossfield Re: warnings for junior readers:
I anticipated that the paper would have a paragraph at the start laying out the definition of statistical quantities, which should satisfy the need for a warning. Then point to either an appendix or footnote to give the common, yet technically inadequate, terms.

[2017-10-12 15:15] dwsideriusNIST commented on #9
@mangiapasta re: "standard uncertainty"

OK, thanks for the clarification. As I read the GUM, "standard uncertainty" is an umbrella term, then you have to choose the right statistical descriptor.

Regarding error bars, I am a bit agnostic on the specific choice. My preference is that the author state clearly and unambiguously what the error bars indicate, then it doesn't really matter to me what t

[2017-10-12 15:18] dwsideriusNIST commented on #6
All,
I've stayed out of this thread for various reasons. To get a digest version, can you clarify if the group is leaning toward declaration of a "error bars mean X (and only X)" statement in the paper?

My issue is that error bars are meaningless in the absence of stated terminology (see https://github.com/dmzuckerman/Sampling-Uncertainty/issues/9)

[2017-10-12 15:33] agrossfield commented on #9
Agreed. The key is to be clear what you’re doing, and to be consistent.

___________________________________
Dr. Alan Grossfield
Associate Professor
Department of Biochemistry and Biophysics
University of Rochester Medical Center
610 Elmwood Ave, Box 712
Rochester, NY 14642
Phone: 585 276 4193<tel:585%20276%204193>
http://membrane.urmc.rochester.eduu<http://membrane.urmc.rochester.edu>

On Oct 12,

[2017-10-12 15:39] mangiapasta commented on #6
Fair point.  It seems that we're conflating several issues here (or perhaps anticipating that junior scientists will...?).

Based on the previous comments, it seems to me that we are conflating the choice of error bar (e.g. 1-sigma, 2-sigma, etc.) with an assessment of statistical significance.  That is, if two data-points have overlapping error bars, are they statistically significant, or is ther

[2017-10-12 15:47] agrossfield commented on #6
I agree with what you wrote, but my point was even simpler. If we’re going to introduce a new term (standard uncertainty) to replace an earlier one (standard error), which is itself often used wrong, we have to not only tell people what the correct way to say it is, but also what is often meant when using the term incorrectly, especially because a lot of papers are not clear about what they did.

[2017-10-12 16:29] dmzuckerman commented on #6
I agree with @agrossfield that we need to be careful with terms and err on the side of being overly explanatory and repetitive.  I don't think it's sufficient to state the definition once and assume readers will get it.

@dmzuckerman Is this the question you were asking?"

Yes, more or less.  I'm thinking about statistical comparisons (both in a given paper and perhaps performed post-facto by anot

[2017-10-12 16:47] mangiapasta commented on #6
@dmzuckerman

I think you and Alan are correct to point out the social engineering aspects of this document.  So I'd agree with your recommendation, provided we emphasize the distinction between error bars and statistical comparison.  To the extent that we can point readers to the fact that there is a "higher-level" of thinking (that sounds really hoity-toity ... sorry) with regards to statistical

[2017-10-13 19:00] dmzuckerman commented on #9
From today's discussion

- Glossary will include essential formulas WITH CONDITIONS (e.g., assumes N independent samples)
- Glossary will include non-standard terms (e.g., "standard error") and explain why deprecated
- Glossary will include common errors where appropriate

[2017-10-13 19:01] dmzuckerman commented on #8
Following @agrossfield we can push this more

[2017-10-13 19:05] dmzuckerman commented on #6
From today's discussion
- Section to be renamed 'Error bars and uncertainties in specific observables'
- Must introduce two ideas: scale of uncertainty (std uncert) and confidence interval
- Recommend reporting conf intervals based on t-test
- Give caveats: different confidence intervals for different purposes; also not specific tests for assessing whether two estimates agree or disagree
- INCLUDE

[2017-10-21 01:42] dmzuckerman commented on #9
@dwsideriusNIST and @mangiapasta - thanks so much for putting together definitions.  Very helpful.  I have a number of questions and suggestions:

- Should we alphabetize the list?  I think so unless there's a good reason not to
- I think we should include the most common terms 'std error of the mean' and 'std deviation' and these can/should refer to the more current usages.  But remember our read

[2017-10-23 13:25] mangiapasta commented on #9
@dwsideriusNIST and @dmzuckerman

1) I have a slight preference to not alphabetize if there is a natural ordering of concepts.  I think there is such an ordering but have yet to settle on what it is.  One possibility would be to start with more general concepts and end with more specific ones, and also put "idealized" concepts (like true value) upfront and more practical things that we can compute

[2017-10-23 14:55] dwsideriusNIST commented on #9
@mangiapasta @dmzuckerman

I agree with Paul that, unless it is unfeasible, we do not alphabetize the glossary of statistical terms but put them in a 'natural' order. Let's work on a revision with a natural order and see how it works.

@dmzuckerman We're also going to include an 'equivalency' section that lays out the commonly used terms vis a vis the VIM terminology. We also experimented with an

[2017-10-23 17:49] agrossfield commented on #9
Putting the glossary in a "logical" order only makes sense if you assume people will read it from start to finish.  However, if readers see a section labelled "glossary",  I suspect they'll skip it and come back to it when they hit a term they're not sure of, in which case alphabetical ordering would make more sense.

Just a thought (and I haven't looked at the doc recently, so I may be totally in

[2017-10-26 00:59] dmzuckerman commented on #6
@dwsideriusNIST @mangiapasta @ajschult @agrossfield Today I really sweated and updated the specific observables section following our discussion ... to recommend using 90% confidence intervals.  I think this is the most important section of the paper (after the definitions, of course, and the quick-and-dirty checks which will eliminate 95% of studies) so please read it when you have time and criti

[2017-10-27 20:55] agrossfield opened #21 "Multiple hypothesis testing and p-values"
I had an interesting discussion today at lunch with Dave Mathews that I thought might deserve discussion here.  We were talking about the way that analysis of MD simulations is done iteratively, and he pointed out that this is the way p-hacking occurs.

Imagine we have two related simulations (or sets of simulations) we're comparing: we try one thing, and the p-value says they're not significantly

[2017-11-10 21:06] agrossfield opened #23 "Qualitative section - formerly 'quick and dirty'"
Moreover, if I understand correctly, it's literally the same thing as Lyman and Zuckerman cluster population analysis, with the exception that there they do it as a function of block size instead of just breaking it into 2 pieces.

[2017-11-10 21:17] agrossfield opened #24 "Use of "random" in the glossary"
The word "random" is used a bunch of times in the definitions of key terms in a way that makes no sense to me.  For example, "independent observables" are defined as "Random quantities that
are uncorrelated".  These quantities are presumably calculated from coordinates in a deterministic way, so referring to them as random is confusing.

I understand that when we do statistics on stuff we're treat

[2017-11-10 21:22] agrossfield commented on #24
The more I think about it, the more worried I am about the whole section.  It's formally correct, but it's not very readable.  I think the remarks need to be more extensive, and translate the definitions into more familiar wordings.  Otherwise, I'm really worried that much of our intended audience (or at least the biomolecular simulation folks, which is the group I'm most familiar with) will just

[2017-11-10 21:27] dwsideriusNIST commented on #24
Alan, we're definitely not in a final state for that section. Currently it represents a very mild rewriting of the exact definitions in the VIM. @mangiapasta and I have been unable to work on it for the past few weeks. We're planning to get to it after another week of down time.

[2017-11-10 21:32] agrossfield commented on #24
Totally cool -- I figured that might be the case.  I was just worried that the biomolecular community, which is in my experience less comfortable with statistical rigor and terminology than the materials folks, might get lost or turned off, and that since you're coming from a more rigorous place to start you might not realize.

If you want me to take a crack at it, I'm willing to do some editing,

[2017-11-10 21:33] agrossfield commented on #23
Actually, I think the whole section should be merged with global sampling assessment

[2017-11-11 00:57] dwsideriusNIST commented on #24
No problem, no offensive even considered on my part. A major part of our goal for that section is to introduce more statistical rigor into simulations in general, so we're trying to find a balance between the pedantic VIM definitions and more practical terminology. I think your anticipation that the biophys community is not as far along as materials/fluids, but don't give materials/fluids too much

[2017-11-11 01:18] agrossfield commented on #24
Sounds good, Dan. I always worry critiquing via email because there's no facial expressions or tone of voice to keep it light.

If I have specific ideas, I'll add them as you say, most likely in the remarks sections.

Dr. Alan Grossfield
Department of Biochemistry and Biophysics
University of Rochester Medical Center

On Nov 10, 2017, at 7:57 PM, Daniel W. Siderius <notifications@github.com<mailto

[2017-11-15 15:50] dmzuckerman commented on #24
Thanks a lot @agrossfield for the useful comments and @dwsideriusNIST and @mangiapasta for working on this section - which I wrongly thought would be straightforward!

I agree with @agrossfield that we'll need to be careful that our plain-English remarks are plain enough.  I'll be happy to review those once @dwsideriusNIST and @mangiapasta give the ok.

A few specific suggestions:
- depending on h

[2017-11-15 16:01] dmzuckerman commented on #23
Hey, @drroe, would you please see what you think about @agrossfield's suggestions?

Please check out my [2006 BJ paper with Ed Lyman](http://www.sciencedirect.com/science/article/pii/S0006349506717167) which does seem similar to the 'combined clustering' analysis.

As to whether this is 'quick and dirty' or a quantification of global sampling, I think I agree with @drroe that this is quick-and-dir

[2017-11-15 16:06] dmzuckerman commented on #6
Paul @mangiapasta, would you please see whether you agree that the section you drafted (7.3, now called 'Assessing qualitative behavior of data') should be moved to 'quick and dirty' section?

Also, I would appreciate your review of the sections I revised/added
- 7.1 'Basics'
- 7.6 'From standard uncertainty to confidence interal for Gaussian variables'

Thank you!

[2017-11-15 16:09] dmzuckerman opened #25 "Pre-simulation sanity checks section"
@agrossfield @ajschult @drroe I would appreciate your edits and comments on this brief section.  Thank you.

[2017-11-15 16:56] drroe commented on #23
I've been traveling a lot lately (currently at SC17); sorry for the delay in responding here.

It is similar, but it is certainly not the same. I've only had a chance to skim the 2006 paper in question, but from what I gather the procedure there is to generate a set of reference structures from a single trajectory using what appears to be a density-based method (similar in spirit to the DBscan clu

[2017-11-15 16:57] drroe commented on #25
OK - I'll be traveling until Friday, I'll try to get to it then.

[2017-11-16 14:58] mangiapasta commented on #24
Apologies for radio silence the past few weeks.  I've been swamped with some internal deadlines.

To follow up on some of these issues:

1) @agrossfield and others.  The confusion you highlight concerning the use of the word "random" is justified.  As a somewhat technical aside (which maybe isn't really an aside?), much of the MD enterprise is based on the assumption that Newton's equations are a

[2017-11-16 15:11] mangiapasta commented on #6
I'll take a look today and get back to you soon.

________________________________
From: dmzuckerman <notifications@github.com>
Sent: Wednesday, November 15, 2017 11:06:52 AM
To: dmzuckerman/Sampling-Uncertainty
Cc: Patrone, Paul (Fed); Mention
Subject: Re: [dmzuckerman/Sampling-Uncertainty] Specific observables section (#6)

Paul @mangiapasta<https://na01.safelinks.protection.outlook.com/?url=htt

[2017-11-16 15:28] dmzuckerman commented on #24
@mangiapasta a couple of comments:

FYI most biomolecular MD is done with a thermostat.  As you may know, there are both deterministic and (pseudo-)random thermostats out there; the most popular are actually deterministic (which I don't like because I think the thermal 'bath' is unknowable and effectively infinite, so physically that seems the essence of random to me).

Regarding Eq (4) I'm not su

[2017-11-16 15:30] agrossfield commented on #24
Minor comment: these days, the vast majority of biomolecular simulations are done with pseudo-random thermostats.  GROMACS has Nose-Hoover, but NAMD and Amber don’t, and rely on Langevin thermostatting.  Not sure about OpenMM, but that’s a smaller user community at this point. Even in GROMACS, many people use Langevin, though an appalling number still use Berendsen.

Aaln

On Nov 16, 2017, at 10:2

[2017-11-16 15:32] dmzuckerman commented on #24
@agrossfield Nose-Hoover is deterministic

[2017-11-16 15:33] agrossfield commented on #24
Right, but it’s almost never used — not implemented in Amber or NAMD, and rarely chosen in GROMACS.

On Nov 16, 2017, at 10:32 AM, dmzuckerman <notifications@github.com<mailto:notifications@github.com>> wrote:

@agrossfield<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_agrossfield&d=DwMCaQ&c=4sF48jRmVAe_CH-k9mXYXEGfSnM3bY53YSKuLUQRxhA&r=49qnaP-kgQR_zujl5kbj_PmvQeXyz1NAoiLoIzsc27z

[2017-11-16 16:20] mangiapasta commented on #24
@dmzuckerman

Good point about linear correlations.  You're right, that's what I had in mind, and we shouldn't propagate the misconception that that's the only kind of correlation.  I think there is a technical difference between uncorrelated and independent, since, e.g. one can probably define an uncorrelated but non-independent PDF to be the same as a product of PDFs except on a set of measure z

[2017-11-16 16:21] agrossfield commented on #24
@agrossfield<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_agrossfield&d=DwMFaQ&c=4sF48jRmVAe_CH-k9mXYXEGfSnM3bY53YSKuLUQRxhA&r=49qnaP-kgQR_zujl5kbj_PmvQeXyz1NAoiLoIzsc27zuRX32UDM2oX8NQCaAsZzH&m=aGE9fWeJzDpeNRjSVmxD9V0nKa2ezz-aD2ngo4y2CzM&s=3-Bqx4DMJxpJQpWXApzinppddIbSF-LMZBK3zEFOIHg&e=> @dmzuckerman<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_dmzuckerman&d=Dw

[2017-11-16 17:31] mangiapasta commented on #6
I'm fine with merging the "qualitative behavior of data" section with the quick and dirty section.  But can we perhaps rename the latter?  "Quick and dirty" sounds a little pejorative, like it shouldn't be taken too seriously.  Maybe something like "Preliminary checks that can rule out..." or similar?

________________________________
From: dmzuckerman <notifications@github.com>
Sent: Wednesday, N

[2017-11-16 18:20] dmzuckerman commented on #6
@mangiapasta you make a very good point - I agree folks might not want to invest time into something quick and dirty!

What if we call it "Essential Qualitative Analysis" or "Essential Preliminary Analysis"?  I like having the word 'essential' (or similar) in there to indicate the importance.

[2017-11-16 18:33] dmzuckerman commented on #24
@mangiapasta @agrossfield No one is more pedantic than me ... and actually I think that word points to an 'attitude' which should guide our writing.  Let's keep the main discussion to the key issues while at the same time noting subtleties and referring readers to other sources for the fine points.

Regarding (linear) correlation, we should consider carefully whether that's the essential point.  A

[2017-11-16 18:34] mangiapasta commented on #6
I'm fine with some variation on that.  As an alternative, you might also consider something like "Initial data screening" or something similar.  I like the word screening if only because it suggests filtering out bad data, but (hopefully) in a systematic way

________________________________
From: dmzuckerman <notifications@github.com>
Sent: Thursday, November 16, 2017 1:20:46 PM
To: dmzuckerman/S

[2017-11-16 18:39] mangiapasta commented on #24
I'm like  +/- 99% sure (like my use of confidence intervals :) that linear uncorrelation (pardon my abuses here) is all that is needed to compute estimates of standard uncertainty of the mean.  Am I wrong on this?  I've been doing a related calculation today for something with (linear) correlations, and the only terms that appear in the standard error are E[(x_i - \bar x)(x_j - \bar x)] and simila

[2017-11-16 18:44] mangiapasta commented on #24
Sorry, I should be more careful with my language.

I meant to say:

Lack of linear correlations are all that are needed to show that standard uncertainty of the mean is an unbiased estimate of the standard deviation of the mean.

________________________________
From: Patrone, Paul (Fed)
Sent: Thursday, November 16, 2017 1:39:07 PM
To: dmzuckerman/Sampling-Uncertainty
Subject: Re: [dmzuckerman/Sam

[2017-11-16 18:59] mangiapasta commented on #24
So, basically this derivation.

I guess technically it's for the standard variance of the mean, which, when we take the square root, gives a biased standard deviation.  But lack of linear correlations is all that is needed to show that the variance is unbiased.  Did I make a mistake here...?

(1917.jpg is the first page of the derivation)

________________________________
From: Patrone, Paul (Fed)

[2017-11-16 20:06] mangiapasta commented on #6
Overall I like section 7.1 but thought it needed a bit of reorganization.

Basically, it seems to me that there are two main issues you are trying to address.

First, why should we use confidence intervals instead of standard uncertainties?  It sounds like you there are two related answers to this

A) Confidence intervals are more relatable to everyday experience because it is a frequentist approa

[2017-11-16 21:03] dmzuckerman commented on #24
Paul, you are absolutely right that linear 'uncorrelation' is sufficient for the usual properties involving variance.  I should have remembered that!

Even so, we still have the question of what to tell our readers ... my instinct is that explaining the subtle point about *linear* correlation will be more confusing than discussing independence which is intuitive and implies the linear uncorrelatio

[2017-11-16 21:23] dmzuckerman commented on #23
@drroe - thanks for the explanation.  I suggest you just put in as much (i.e., as little) commentary as needed: something like "this approach extends the work of ..." or whatever.

Another thing that @agrossfield and I discussed offline is that some of the analyses we (collectively) are putting in the paper are good (or great!) ideas but may not be true 'best practices' in the sense of having comm

[2017-11-17 17:38] mangiapasta commented on #6
Overall I think section 7.6 is fine.  The only change I made was to edit one of the table entries, which was originally k=1.03.  I think it should have been 1.73 interpolating between the two values surrounding it.  Would be good to check that I put the correct value.  Otherwise the section reads well to me.  I think it's fine to suggest that folks show data for 5 or less values and start using th

[2017-11-17 22:33] dmzuckerman commented on #6
@mangiapasta thanks a lot.  I looked up that number - happens to be 1.72 - and fixed it.  Good catch.

[2017-11-17 23:58] dmzuckerman commented on #6
@mangiapasta somehow I missed that whole revision of Sec. 7.1 in this thread!  I think your clarifications/edits are excellent.  The one quibble I have is with this wording: "standard uncertainties (reported as a standard deviation $\sigma$)."  Since we are (I think) referring to what our readers will know as the std err of mean, we should say so.  A lot of readers won't have the statistical sophi

[2017-11-20 14:14] mangiapasta commented on #6
Sounds good.  I'm fine with the changes you suggest.  I'll push edits to the master today

________________________________
From: dmzuckerman <notifications@github.com>
Sent: Friday, November 17, 2017 6:58:51 PM
To: dmzuckerman/Sampling-Uncertainty
Cc: Patrone, Paul (Fed); Mention
Subject: Re: [dmzuckerman/Sampling-Uncertainty] Specific observables section (#6)

@mangiapasta<https://na01.safelinks

[2017-11-20 22:29] mangiapasta commented on #6
@dmzuckerman

I read your comment more carefully and wanted to follow up on the main point.  It's not clear to me that we're interested in standard error of the mean every time we report an error bar or confidence interval.  That's why I originally "standard uncertainties (reported as a standard deviation $\sigma$)."  I think Andrew Schultz at one point mentioned the perspective that error bars ca

[2017-11-21 16:45] dwsideriusNIST commented on #24
My turn to apologize for radio silence - I've been away from NIST for over a week.

Unfortunately this will take us back several days...

1. Regarding the use of "random": I don't want to re-hash the discussion of deterministic sims versus quasi-non-deterministics sims, everything said was relevant. Perhaps we include a statement that measurements/observations in simulations are treated as "random

[2017-11-21 17:23] dmzuckerman commented on #24
@dwsideriusNIST thanks a lot.  I agree with you we should use the correct terminology, but we cannot forget that our primary goal is to persuade and educate.  If our readers get confused and give up, that serves no one.  So I suggest we have an informal rule that, say, once per subsection, on our first use of one of those likely-to-be-unfamiliar terms (std uncert, random variable, experimental obs

[2017-11-22 16:00] dwsideriusNIST commented on #24
@dmzuckerman I'm on board with your approach - to clarify discussion with the common usage as frequent as is necessary.

One other method I'd like to use (after the paper is mostly done) is to put hyperlinks on each usage of the statistical terms that link back to the glossary. If you compile the now current repo, there is an example link on page 3 ("experimental standard deviation of the mean", i

[2017-11-24 19:52] davidlmobley opened #26 "Deposit PDF in repo?"
Any chance you guys would want to deposit the latest version of the PDF in the repo with commits? I just stumbled across this and would love to be able to see the PDF without having to compile. Typically what we do is just update the PDF with any commit which touches any of the content.

[2017-11-25 15:10] agrossfield commented on #26
I had put it in the gitignore but I can edit it later today.

Dr. Alan Grossfield
Department of Biochemistry and Biophysics
University of Rochester Medical School

On Nov 24, 2017, at 2:52 PM, David L. Mobley <notifications@github.com<mailto:notifications@github.com>> wrote:

Any chance you guys would want to deposit the latest version of the PDF in the repo with commits? I just stumbled across th

[2017-11-25 15:58] davidlmobley commented on #26
That would be great. I think for people wanting to see your latest version, this will be way easier than having them compile, especially if they've never used LaTeX before.

[2017-11-25 15:59] dwsideriusNIST commented on #26
I updated the gitignore and uploaded a compiled main version.

[2017-11-25 15:59] #26 closed

[2017-11-28 17:29] dmzuckerman commented on #23
@drroe I was just reading through Sec 4.3, now called 'Assessing Convergence', which opens with, "Convergence in the context of biomolecular simulations typically refers to the overlap of two independent measurements of the same property."

I know what you mean but I don't think this is quite what we want to say because, for example, two 1 ps simulation started from the same highly atypical config

[2017-12-01 14:43] dmzuckerman commented on #23
I guess @agrossfield doesn't have further comments here.  @drroe please go ahead and revise when you can.  Thank you.

[2017-12-04 16:19] drroe commented on #23
Sorry for the delay on this.

What I really should say here is we want convergence of each simulation to the "right" answer (technically in the scenario you describe the two simulations are converged with respect to each other, just not to that "right" answer). So I will clarify that we want multiple sims from different starting points to head to that "right" answer.

It absolutely can, it's just

[2017-12-06 21:07] dmzuckerman commented on #9
I'm closing this as glossary concerns have migrated to issue 24 (use of random in glossary)

[2017-12-06 21:07] #9 closed

[2017-12-06 21:08] dmzuckerman commented on #25
@ajschult would you pleae review this?  Thank you.

[2017-12-06 21:08] dmzuckerman commented on #8
I think the manuscript addresses this sufficiently now.

[2017-12-06 21:08] #8 closed

[2017-12-06 21:10] dmzuckerman commented on #7
@agrossfield would you please have a quick look at the Weighted Ensemble subsection based on your experience?  Thanks.

[2017-12-06 21:14] agrossfield commented on #7
Dan — I’ll try to get to it in a few days, but first I’m writing yet another grant, or rather a chunk of one, which I expect to pass off to my collaborator by Monday.

Alan

On Dec 6, 2017, at 4:10 PM, dmzuckerman <notifications@github.com<mailto:notifications@github.com>> wrote:

@agrossfield<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_agrossfield&d=DwMCaQ&c=4sF48jRmVAe_CH-k9m

[2017-12-06 21:14] dmzuckerman commented on #6
@mangiapasta I moved your subsection on qualitative behavior (of strain) to the Qualitative (formerly quick-and-dirty) section.  Please check whether you're happy with it as written in that location.  Thank you.

[2017-12-06 21:16] dmzuckerman commented on #6
@mangiapasta sorry for all the notes - this should be the last one.  I was thinking we should probably omit the paragraph and table you wrote about significant figures at the end of Sec. 7.1, though perhaps it can be estimated to be consistent with our current approach and terminology.  See what you think.

[2017-12-06 21:17] mangiapasta commented on #24
Thanks.  Will take a look.

Dan S. and I have been working on an update that I expect we will push out soon.  Will try to merge your changes with ours.

________________________________
From: dmzuckerman <notifications@github.com>
Sent: Wednesday, December 6, 2017 4:05:10 PM
To: dmzuckerman/Sampling-Uncertainty
Cc: Patrone, Paul (Fed); Mention
Subject: Re: [dmzuckerman/Sampling-Uncertainty] Use of

[2017-12-06 21:17] dwsideriusNIST commented on #24
Thank you @dmzuckerman ! @mangiapasta  and I will look it over and fold the changes into our version. We've actually done a major revision of that section but hadn't pushed it to the main repo yet. Based on a quick skim of your edit, our changes are in the same direction as yours. I think you will

[2017-12-06 21:17] mangiapasta commented on #6
I didn't write that; not sure where it came from.  Feel free to do what you like with that.

________________________________
From: dmzuckerman <notifications@github.com>
Sent: Wednesday, December 6, 2017 4:16:59 PM
To: dmzuckerman/Sampling-Uncertainty
Cc: Patrone, Paul (Fed); Mention
Subject: Re: [dmzuckerman/Sampling-Uncertainty] Specific observables section (#6)

@mangiapasta<https://na01.safel

[2017-12-06 21:33] dmzuckerman commented on #6
@dwsideriusNIST @ajschult did one of you make this table at end of Sec. 7.1 and write the accompanying text?  I was thinking we should omit it or revise to be consistent with rest of paper.  Thank you.  (Sorry @mangiapasta about mistaken authorship.)

![image](https://user-images.githubusercontent.com/21345239/33686430-c069027c-da89-11e7-8253-d1a64890a4fc.png)

[2017-12-06 21:34] dmzuckerman commented on #24
Great.  I hope my edits don't complicate yours too much.

[2017-12-06 21:40] dwsideriusNIST commented on #6
I'm not sure where that came from...

[2017-12-06 22:14] ajschult commented on #6
Right, I wrote that based on the item in our planning document about "basics" (see comments in this issue from Sep 30, Oct 1).  I think when we were in D.C. that someone mentioned people reporting values with absurd numbers of digits.  In any case, I'm not emotionally attached to the paragraph; parts of it certainly seem to be redundant with the rest of section 7.1

[2017-12-06 23:00] dmzuckerman commented on #6
Thanks @ajschult .  I think the point about absurd numbers of digits is valid - and the problem can contribute to misunderstanding.  Would you be willing to rewrite this bit so that it's a narrow point about significant figures aligned with uncertainty?  I think the table can probably be omitted unless it will help to make the point.  Thank you.

[2017-12-07 15:57] dwsideriusNIST commented on #24
@dmzuckerman, I merged the changes from @mangiapasta and me into the main repo. The major change that you'll notice is that some of the "philosophical" remarks are now in footnotes. It makes the glossary a lot less cluttered. Please let us know how it reads. Lastly, we are considering dropping "accuracy", "precision", and the independent/uncorrelated terms. Basically, unless a term is used elsewhe

[2017-12-07 17:57] dmzuckerman commented on #24
@dwsideriusNIST and @mangiapasta thanks very much for the revised version.  I have a number of quite minor comments I hope you can address:
- I think the dP_i notation in Eq (4) will be confusing to nonexperts.  Why not just use P_i and defined it in words, perhaps with the auxiliary eqn \sum_i P_i = 1, which will be familiar and reassuring?
- In Eq (6), I think a comment about the use of n-1 inst

[2017-12-07 18:01] mangiapasta commented on #24
@dmzuckerman and @dwsideriusNIST

I'd like to take a crack at these changes today if it's okay.  I want to edit the discussion at the end of the glossary a bit more and will take a look at the other issues that were raised.  Is that okay?

[2017-12-07 18:03] dwsideriusNIST commented on #24
@mangiapasta please do, as I won't be able to get to it today.

@dmzuckerman I fully plan to work through Sec 7 fully. I've got a start, but haven't pushed anything to the repo yet.

[2017-12-07 18:53] dmzuckerman commented on #24
@mangiapasta - all yours.  Let me know when you and @dwsideriusNIST are happy with both sections.

BTW - this thing is starting to look and smell like a good paper!

[2017-12-07 22:25] mangiapasta commented on #24
@dwsideriusNIST<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdwsideriusnist&data=02%7C01%7Cpaul.patrone%40nist.gov%7C03f46da886074577dbde08d53d9bf6dc%7C2ab5d82fd8fa4797a93e054655c61dec%7C1%7C0%7C636482662438224767&sdata=5j2alPCeo4JvnvB0C%2Fp0K4xjNUq%2BCsb2zDeRP08Atdg%3D&reserved=0> and @mangiapasta<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgi

[2017-12-08 14:39] dwsideriusNIST commented on #24
@mangiapasta I found the TeX bug that was preventing compilation of the PDF. Latest commit is just a fix for that. I'm reading the revisions now.

[2017-12-11 16:46] mangiapasta commented on #6
So I actually broke up the subsection I wrote in the qualitative behavior section.  In particular, I moved the first paragraph to the beginning of the entire section, and then recast the rest of my subsection as an example on how to determine the existence of linear regimes in data.  I think overall the quick-and-dirty section is really about assessing quality of data, and we provide examples of v

[2017-12-11 17:32] mangiapasta commented on #24
Sorry to be slow to respond to the last point.

I pasted it here for reference:

"Would you guys be willing to look again at Sec. 7 considering two points? (1) We should adjust the notation for std uncert to be ... standard. (2) In my read, we never come out and say that the default estimate for the std uncert is the std err/exptl std dev of mean IF the measurements are independent. If you agree,

[2017-12-11 20:56] dmzuckerman commented on #24
@mangiapasta thanks for that comment.  I guess the question becomes, what do we recommend for the  nonexpert readers (our most important audience, I think)?  They need something concrete.  I think we need to tell them to do (a), (b), or (c) under suitable conditions and clearly explain the conditions and pitfalls.

You wrote, "There are plenty of cases where standard error provides a biased or pos

[2017-12-11 20:57] dmzuckerman commented on #6
I'll look at this after Sec. 7 is revised so I can do everything at once.

[2017-12-11 21:19] dwsideriusNIST commented on #6
I pushed some updates to specific observables, fleshing out the block averages section and adding one on autocorrelation analysis. Definitely not yet, but on the way.

I think the intro to sec 7 is going to need a few "why we recommend 90% CI" sentences, because a lot of readers/reviewers are going to be surprised that 95% is not recommended straightaway. The thing is, I don't think that there is

[2017-12-12 01:52] dmzuckerman commented on #6
Good point, @dwsideriusNIST: "readers/reviewers are going to be surprised that 95% is not recommended"

I'm probably guilty of suggesting 90% but not for a good reason.  I'm happy enough if we change to 95%.

Should we?  @mangiapasta ? @agrossfield ?

[2017-12-12 16:10] dwsideriusNIST commented on #6
95% will be a safe choice if we want to avoid criticism, founded or unfounded.

Ultimately, we need to stress that the writer should report the chosen confidence level. No one *should* argue with that; as a reviewer I would frown on someone using a 50% confidence level (OK, it's absurd, but just tag along for a moment) to set error bars, but if they say that honestly and upfront, I'll accept it. I

[2017-12-12 19:16] mangiapasta commented on #6
I'm fine with whatever confidence intervals we end up suggesting.

________________________________
From: Daniel W. Siderius <notifications@github.com>
Sent: Tuesday, December 12, 2017 11:10:24 AM
To: dmzuckerman/Sampling-Uncertainty
Cc: Patrone, Paul (Fed); Mention
Subject: Re: [dmzuckerman/Sampling-Uncertainty] Specific observables section (#6)

95% will be a safe choice if we want to avoid crit

[2017-12-13 21:41] dmzuckerman commented on #23
Hi @drroe - just a reminder on getting this cleaned up.  Will you be able to get to it this week?

[2017-12-14 00:49] dmzuckerman commented on #6
@dwsideriusNIST and @mangiapasta - I changed to 95%ile CI recommendation and updated corresponding table for coverage factors.  Thanks again for suggesting that.

[2017-12-14 16:46] drroe commented on #23
Done. Let me know if more expansion or clarification is needed.

[2017-12-14 18:04] dmzuckerman commented on #23
Thanks! @drroe .  I'll try to look soon.

[2017-12-15 17:27] mangiapasta commented on #24
@dmzuckerman A relatively easy example that comes to mind is the case where we need to average simulated results that are independent but not identically distributed.  I attached some notes to show how a weighted average provides a better estimate of the true mean.  The corresponding "standard error" is not computed in the usual way, but rather in terms of a harmonic average of the uncertainties a

[2017-12-15 19:48] dwsideriusNIST commented on #6
@mangiapasta @dmzuckerman I think we may need to make a change of notation to define the arithmetic mean and true value.

In the specific observables section, we need a functional representation of the arithmetic mean; currently we use an overbar, but I don't think this is going to work well. E.g., equation 14 on page 13. We may need to use the <...> notation for arithmetic means and something els

[2017-12-26 20:11] mangiapasta opened #28 "Global (but not large) changes"
Are we at the point in this document where we can do full read-throughs and suggest smaller changes to the content and structure of the document?  I'm reading through the whole thing today and have suggestions for revisions to sections I've not yet worked on.

[2017-12-27 02:06] dmzuckerman commented on #28
@mangiapasta I have just pushed some tweaks based on a full read-through.  A few parts still need adjustment.

[2017-12-27 02:21] dmzuckerman commented on #24
I added to the remark after Eq (5) because I think it's confusing to novices why a linear average of simulated/experimental data is the same as weighted avg defn (1).

[2017-12-27 02:22] dmzuckerman commented on #24
@dwsideriusNIST and @mangiapasta I think you guys did a great job with the defns section, and the closing paragraphs are particularly nice.

[2017-12-27 02:24] dmzuckerman opened #29 "The checklist itself"
Have people reviewed this recently?

One question I have is whether we need to advocate that starting structures be 'representative of the true ensemble' as this suggests we need to know the answer in advance.  Is it better to say 'as diverse as possible'?  What do you think @agrossfield and @drroe ?

[2017-12-27 02:27] agrossfield commented on #29
I wrote that, because that's the ideal. I probably should have made it clear that it's an impossible ideal.

Dr. Alan Grossfield
Department of Biochemistry and Biophysics
University of Rochester Medical School

On Dec 26, 2017, at 9:24 PM, dmzuckerman <notifications@github.com<mailto:notifications@github.com>> wrote:

Have people reviewed this recently?

One question I have is whether we need to a

[2017-12-27 02:27] dmzuckerman opened #30 "Equilibration section"
Did anyone read this over besides me?  I don't too much straight MD.  @agrossfield and @drroe would you please take a look and edit as needed?  @mangiapasta do you have additional perspective?  Thank you.

[2017-12-27 02:33] dmzuckerman commented on #6
@dwsideriusNIST and @mangiapasta some brief comments:
- in eq (11), can you just use an overbar?  i think this ends up being a sample avg - just explain how it's done.  also, isn't s(q_k) just s(q)?  some clarification on this.
- in eq (12) I don't think N_lags is defined
- I find the section on parametric bootstrapping to be technical and difficult to understand (for me).  For example, is the 'de

[2017-12-27 16:53] dmzuckerman commented on #29
OK, I adjusted the language in the checklist.  See if it's ok.

@agrossfield if you want to discuss some aspects of generating diverse starting structures (e.g., automated vs. manual), feel free to add that to the planning section.

[2017-12-27 17:03] dmzuckerman commented on #21
[Nature-2017-statistics-discussion.pdf](https://github.com/dmzuckerman/Sampling-Uncertainty/files/1589496/Nature-2017-statistics-discussion.pdf)

@agrossfield I was just reading through this valuable comment.  You may find the attached paper of interest.

Broadly, you are raising the issue of hypothesis testing, which we don't address at all currently - perhaps because none of us is an expert in t

[2017-12-27 19:06] mangiapasta commented on #21
I'm not sure we should necessarily bring someone new into the fold on this issue specifically.

It seems that part of the problem is that data is being used to determine significance of a hypothesis without an independent test or set of new data to check that the conclusion is meaningful.

Another way to state the problem is that we haven't tested the reproducibility of the conclusion.  To address

[2017-12-27 19:07] mangiapasta commented on #21
This often goes by the name of cross-validation:

https://en.wikipedia.org/wiki/Cross-validation_(statistics)

[2017-12-27 19:28] mangiapasta commented on #28
After having read the full document, I wonder about our perspective on correlated data, especially for time-series that are often output as raw data.  Overall I think the document does a good job of explaining that more "effectively uncorrelated data" implies better sampling and averages.  On the other hand, I think that there is some misinformation / biased perspective about how problematic corre

[2017-12-27 19:43] mangiapasta commented on #28
More comments on structure and overall document.

1) I think the title should be changed to, "Best Practices for Sampling and Uncertainty Quantification in Molecular Simulations."  I generally think of sampling as preceding UQ, and the paper is also structured that way.

2) The introduction and scope needs a bit more discussion.  For example, I think the first two paragraphs of section 3 can go in

[2017-12-27 23:32] dmzuckerman commented on #28
@mangiapasta thanks for thoughtful comments.  Here are my thoughts:

1. I like the title the way it is because our main focus is indeed uncertainty quantification.  Of course, we have to discuss sampling, but we certainly don't say too much about how to do it.
2. I agree with you that the introduction can be fleshed out along the lines you suggest.  However, I don't think we should remove any text

[2017-12-28 14:24] drroe commented on #30
I emphasized that the reason we discard these initial "relaxation" portions is that they tend to be non-equilibrium processes, and so should not be included when determining equilibrium properties. Also expanded the example a bit. I note that figure 2 (the RMSD plot) appears to be missing from my final PDF - not sure if the rmsd PDF in the `figures/rmsd` directory is supposed to be included or if

[2018-01-03 01:02] dmzuckerman commented on #6
@dwsideriusNIST thanks.  Regarding notation, I'm not certain what the best thing is.  In statistical mechanics the < . > notation usually refers to a true expectation.  The overbar in stat mech is usually defined in context, so a sample average seems should be an ok way to use it.

I do have the worry that the E[.] notation will be off-putting to some, even though it shouldn't.  Anyone else have t

[2018-01-03 15:50] dmzuckerman commented on #30
@drroe - thanks a lot.  BTW I suspect I'm the one who messed up the figure (sorry!) because I'm editing in overleaf which only allows one level of subfolder.  Repair should just be a matter of fixing the path to the right directory or moving the fig to the current path.

@agrossfield would you mind reviewing equilibration section?  It's short!

[2018-01-03 15:51] agrossfield commented on #30
Sure.  I have a few tweaks in other sections I was about to commit.

Alan

On Jan 3, 2018, at 10:50 AM, dmzuckerman <notifications@github.com<mailto:notifications@github.com>> wrote:

@drroe<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_drroe&d=DwMFaQ&c=4sF48jRmVAe_CH-k9mXYXEGfSnM3bY53YSKuLUQRxhA&r=49qnaP-kgQR_zujl5kbj_PmvQeXyz1NAoiLoIzsc27zuRX32UDM2oX8NQCaAsZzH&m=KhEDL2g85AUV12s

[2018-01-03 15:54] dmzuckerman commented on #21
Perhaps the 'living article' and github platform/authorship model offer a punt.  For now, there doesn't seem to be sufficient consensus on whether or how to address p-hacking.  If that changes, we can update our article.  That is, we should leave this issue open.

[2018-01-03 18:09] dwsideriusNIST commented on #6
I would definitely appreciate any thoughts regarding the mean/expectation notation. Please speak up if equation 11 is OK; it's only an aesthetic issue for me.

As a side note, the MC community uses the <.> notation for both pencil/paper expressions for the theoretical expectation value and a simulation-obtained ensemble average.

[2018-01-04 15:59] agrossfield opened #31 "Definition of coverage factor k"
Unless I'm missing it, we don't really define what a coverage factor is, and since it's not a common term (I'd never heard of it), we need to be very clear.  I think the best solution is an entry in the glossary, plus a line or two in the text where it's first used.

[2018-01-04 16:39] mangiapasta commented on #28
In the section on Pre-simulation sanity checks, I don't know what the following paragraph is actually saying:

"If you read this guide through \emph{before} performing a simulation, you will have a much better sense of the criteria applicable to your data -- and which indeed \emph{should} be applied by knowledgeable reviewers of your work.  Thus we strongly advise understanding the concepts presen

[2018-01-04 19:51] #5 closed

[2018-01-04 23:11] dmzuckerman commented on #28
@mangiapasta thanks for catching that flabby writing - I am the guilty author.

I think what I was *trying* to say belongs in the planning section.  I intended to communicate that authors should be aware of the issues involved with doing good uncertainty quantification - and also be aware that the protocols we suggest may not cast the most favorable light on data obtained from a poorly planned or

[2018-01-05 01:04] mangiapasta commented on #28
Ahh, this makes much more sense now.  Thanks for clarifying.  I was slowly going through sections tagging things that didn't make sense to me.  If you're okay with me editing, I'll try to rephrase a bit along the lines of your post just now.  Alternatively if you want first crack at revising your own words, I'm fine with that too.

If you get a chance, let me know your thoughts on the intro.  I ad

[2018-01-05 02:16] dmzuckerman commented on #28
@mangiapasta please edit, and I'll review.  Thanks a lot.  I should have some time tomorrow to go through whole doc.

[2018-01-05 16:07] dwsideriusNIST commented on #6
I decided to try out the E[x] and <x> notation in a feature branch. Please check the main.pdf file in the present commit of the avg_notation branch to see its effect: https://github.com/dmzuckerman/Sampling-Uncertainty/commit/5a68effdc70089ae7f1f1c2c38b5c75ff8de9acb

In particular, compare eq. 11 on page 14 to that in the master branch.

[2018-01-05 18:22] dmzuckerman commented on #6
@dwsideriusNIST thanks for trying that.  In the end, I prefer <.> and overbar, not E[x].  I think the one that decided me was Eq (7), where you didn't yet put the E[ . ] around the whole thing ... but that gets particularly cumbersome.

[2018-01-05 18:33] dwsideriusNIST commented on #6
Good catch... OK, there are only votes against the proposed notation, so I'll abandon that branch.

I am going to bring some macros from the avg_notation branch over to the main branch. (I created \expval and \mean macros that allowed me to switch notation quickly.) Might add one or two for the standard uncertainties as well as it helps enforce consistency.

[2018-01-05 18:40] agrossfield commented on #6
I like the macros idea — I have a ton of macros I use for latex, but I’ve refrained from introducing them here because I didn’t want to impose my way on everyone else.

Cheers,

Alan

On Jan 5, 2018, at 1:33 PM, Daniel W. Siderius <notifications@github.com<mailto:notifications@github.com>> wrote:

Good catch... OK, there are only votes against the proposed notation, so I'll abandon that branch.

I

[2018-01-05 19:49] dwsideriusNIST commented on #6
@agrossfield thanks for the vote of confidence. The most recent commit has a few macros, now used in *most* parts of the paper (dark uncertainty, propagation of uncertainty currently excluded):
\expval{x}: the expectation value of x
\mean{x}: the arithmetic mean of x
\stdev{x_k}: the experimental standard deviation of x, given a set of measurements {x_k}
\stdevmean{\mean{x}}: the experimental stan

[2018-01-09 16:06] dmzuckerman commented on #28
@mangiapasta please let me know when you've had a chance to do this.  I want to go over the doc after you're finished.  Thanks!!

[2018-01-09 16:08] dmzuckerman commented on #25
@agrossfield @ajschult @drroe if you haven't yet reviewed this section, would you please try to do it in the next day or two?  (And thank you if you have reviewed!)

[2018-01-09 16:09] dmzuckerman commented on #31
@dwsideriusNIST would please try to address this?  Thank you.

[2018-01-09 19:19] mangiapasta commented on #28
Will do.  I'm currently at a conference but should be able to get to it later this week.

________________________________
From: dmzuckerman <notifications@github.com>
Sent: Tuesday, January 9, 2018 11:06:52 AM
To: dmzuckerman/Sampling-Uncertainty
Cc: Patrone, Paul (Fed); Mention
Subject: Re: [dmzuckerman/Sampling-Uncertainty] Global (but not large) changes (#28)

@mangiapasta<https://na01.safelin

[2018-01-09 19:58] dwsideriusNIST commented on #31
Yes, I'll get to this today or tomorrow.

[2018-01-10 20:50] mangiapasta commented on #28
Okay, I made some modest edits to the section.  I tried to not remove anything that was there but only add and/or clarify ideas that you originally put in.  I also added a few references.  One is to a chapter on UQ for MD that I wrote with another NIST author (It's been accepted at Reviews in Computational Chemistry but is not yet published) and the other is an AIAA conference proceedings where we

[2018-01-10 21:00] dmzuckerman commented on #28
thanks!

[2018-01-10 21:08] dwsideriusNIST commented on #31
OK, commit https://github.com/dmzuckerman/Sampling-Uncertainty/commit/be94fcbae895f78801eeee7bd4f5dfc6c51e1380 contains an new definitions section that includes one for the coverage factor. The downside is that taking the coverage factor out of the definition of the confidence interval requires a more generic definition for the CI, resulting in a more formalized definition of both the CI and the c

[2018-01-12 01:11] dmzuckerman commented on #31
Dan, thanks a lot.  I will take a look and see if there is a way to finesse this issue

[2018-01-12 19:21] dwsideriusNIST commented on #31
@dmzuckerman Please do another pull before reading the new definitions - I did a slight rewrite to improve readability.

[2018-01-12 22:43] dmzuckerman commented on #31
thanks for the heads up.  i'm in the middle of editing

[2018-01-14 02:15] dmzuckerman commented on #31
Maybe we should switch to x_i or x_j instead of x_k and reserve k for coverage factor??

[2018-01-14 02:16] dmzuckerman commented on #29
I added two common-sense (I think) items to the checklist.  Folks, please see if you agree.

[2018-01-14 02:18] dmzuckerman commented on #24
@dwsideriusNIST and @mangiapasta  - please see a few nit-picky comments/questions embedded in the text of the defns section in my recent commit.

[2018-01-14 02:25] dmzuckerman commented on #25
@mangiapasta I put a query (in red) in the sanity-check section on autocorrelation that I think pertains to something you wrote.

Also, I removed a 'linearly' that you put in front of correlation in that section.  Let me justify that.  It's certainly true that we only need linear independence to get the nice sum of the variances result on which a lot of UQ is based.  However, that's only because t

[2018-01-16 20:28] dwsideriusNIST commented on #31
@dmzuckerman New commit addresses many of your comments, with a few replies added. Regarding the s(x_j) notation: as per my in-text comment, the "x_j" notation is used to stress that the experimental standard deviation is that it is not a property of the random variable, but is computed from the set of of experimental observations. It also follows the pedantic VIM/GUM notation.

For economy of not

[2018-01-16 20:56] mangiapasta commented on #25
Thanks.  I'll take a look at the query and other comments.  I'm still combing through sections slowly and will probably add a few comments / questions here and there.

On the issue of linear correlation and UQ based on second moments, I think that to a certain extent you are correct that the choice has some level of arbitrariness and convenience to it.  That being said, for a lot of the estimators

[2018-01-16 20:58] mangiapasta commented on #25
In this vein, I think that the theory of fluctuations in statistical mechanics essentially banks on the Central-Limit-Theorem, although somewhat implicitly.

[2018-01-16 23:05] mangiapasta commented on #25
Okay, hopefully I addressed the issues you raised.  Let me know if I missed something.

[2018-01-17 03:24] mangiapasta commented on #30
I read over 2/3 of this section.  Made several edits.  I also left a few questions on RMSD.  I didn't understand that section particularly well.  I'm going to go over the coin-flip section in more detail tomorrow.  I only edited the first paragraph so far

[2018-01-17 05:06] mangiapasta commented on #30
Sorry, I meant the previous comment to be for the quick-and-dirty section.

[2018-01-17 06:00] mangiapasta commented on #28
In the quick-and-dirty section, I left a big red note near the end.  I'm still trying to hash out in my mind the distinction between two related concepts.  Input from folks here would be useful.  In that section, it seems to me that we start by discussion convergence a la Law of Large Numbers / Central Limit Theorem.  That is, more sampling makes an estimator converge to its true value.  This seem

[2018-01-17 15:20] dmzuckerman commented on #28
@mangiapasta thanks for, as always, thorough and thoughtful comments.  Let us know when you're done going through what you want to do and then others can revise accordingly.  Leaving comments in the manuscript is the best way to ensure things get addressed.

Regarding 'overlap of error bars' as indicative of convergence, I think you're referring to the combined clustering subsection written by @dr

[2018-01-17 15:35] mangiapasta commented on #28
Thanks for the heads up on authorship.  I'm done editing that section now.

I agree that the section is really about necessary but not sufficient tests that should be easy to perform.  My concern is more that I think there is some confusing (and possibly mathematically incorrect) language.  More generally, I also think it's important to draw a clear distinction between mathematical statements (the

[2018-01-18 15:48] mangiapasta opened #32 "Definitions section"
I think we need to define "bias" in the glossary.  This term appears multiple times in the equilibration section.

[2018-01-18 16:06] mangiapasta commented on #30
Okay, I've now read the equilibration section.  I made some significant edits to a few paragraphs but kept the original text as comments in the .tex file.  So reverting should be easy if there is reason to do so.  I also put a few comments / questions near the end of the document.

[2018-01-23 03:57] mangiapasta opened #33 "Global sampling section"
I figured it makes sense to create issue threads for each section.  Hopefully this will keep some of the discussion a bit more self contained.  A few opening thoughts on this section.

1) First paragraph, the text, "sampling quality, which can be framed most simply in the context of single-trajectory data:``Among the very large number of simulation frames (snapshots), how many are statistically in

[2018-01-23 14:57] #31 closed

[2018-01-26 05:33] mangiapasta commented on #6
I'm part way through the specific observables section.  I left many comments in the .tex file.  @dmzuckerman et al., any feedback on the questions would be useful.  I can incorporate changes while I edit if you're able to look over them in the next few days.

[2018-01-26 16:11] dmzuckerman commented on #6
I looked at your comments, @mangiapasta .  One issue is this section has been gone over by a few folks, so there is some heterogeneity in the writing ... both for style and content.  However, ultimately we need a consistent (and correct) document.  I trust your instincts on cleaning things up.  Here's how I suggest you proceed:
- Clarity (case I): When you understand and agree with the intent of a

[2018-01-26 20:40] dwsideriusNIST commented on #6
@mangiapasta @dmzuckerman Current commit (https://github.com/dmzuckerman/Sampling-Uncertainty/commit/ac02c666e36d98c0113d33da502ed54f257bcf14) has some replies to PNP's comments. I cut the clause that seemed to imply that time correlation functions required bootstrapping.

[2018-01-26 20:41] dwsideriusNIST commented on #6
Clicked the wrong "update"... sorry.

[2018-02-05 21:39] mangiapasta commented on #28
I've got to take a break for a few days and do some other work.  I put in a conclusion section and went through the whole manuscript.  I didn't get a chance to do much with the bootstrap section, and in some places I left comments littered throughout instead of making edits.

I rewrote large parts of the linear propagation section (sorry original author).  Happy to discuss / reinsert some of the o

[2018-02-06 02:02] dmzuckerman commented on #28
Thank you @mangiapasta !
@dwsideriusNIST if you can finish checking on notation etc, that would be great.

[2018-02-08 21:15] dwsideriusNIST commented on #6
Can someone with more bootstrap experience clarify the section "Bootstrapping and uncertainty propagation?" To me, this section is specific to the parametric bootstrap.

For example, if I try to calculate the mean and uncertainty of, say \exp{-\beta U} using regular, nonparametric bootstrap and sampling from collected measurements of U (internal energy), then the resultant distribution of \exp{-\b

[2018-02-09 03:27] ajschult commented on #6
@dwsideriusNIST Yes, that's correct.  That section could be folded into the previous section, but in with the bits about parametric bootstrapping.

[2018-02-09 15:43] dwsideriusNIST commented on #6
@ajschult Thanks for the clarification. I'm working on a revision that movies that section to the "bootstrapping variants"

[2018-02-14 17:56] davidlmobley opened #34 "Couple quick comments"
I'm scanning through this as I prepare a lecture, and happened to notice a couple things:
- one occurrence of "uncertainy" rather than "uncertainty"
- The checklist has this point, which is quite helpful: "This practice ethically questionable and, at a minimum, can significantly bias your conclusions. Use all of the available data unless there is an objective and compelling reason not to, e.g. the

[2018-02-16 01:33] dmzuckerman commented on #33
@mangiapasta thanks for those.  I have tried to address your comments in the text.  But briefly
1. yes it's basically an auto-correlation analysis but on the global configuration-space distribution
2. configs are full set of x, y, z coords - now in text.  see if you want to say something/amend to better include materials sci
3. i guess you automatically assess sampling (in a self-consistent way, b

[2018-02-16 01:35] dmzuckerman opened #35 "Conclusion section"
@dwsideriusNIST and @mangiapasta I made some edits here.  Be sure you agree ... please re-edit as needed.

[2018-02-16 01:36] dmzuckerman commented on #30
@mangiapasta please check out my responses/changes based on your comments.

[2018-02-16 01:39] dmzuckerman commented on #23
@mangiapasta check out my changes to quick-and-dirty (aka qualitative) section.

@drroe would you mind adding a ref for clustering where I've indicated?

[2018-02-16 01:41] dmzuckerman commented on #7
@drroe I notice that Paul left a number of questions for you in the replica exchange section.  Would you please address/edit accordingly?  If there's something you don't agree with, just leave in a colored response, please.  Thanks!!

[2018-02-17 12:12] drroe commented on #7
Hi,

Sorry I’ve been MIA for a while. I’ve been traveling and we just moved our
machine room to a new site which has occupied almost all of my time. I’ll
grt to it early next week at the latest.

-Dan

On Thu, Feb 15, 2018 at 8:41 PM dmzuckerman <notifications@github.com>
wrote:

--
-------------------------
Daniel R. Roe
Laboratory of Computational Biology
National Institutes of Health, NHLBI
563

[2018-02-20 19:10] dwsideriusNIST commented on #6
@mangiapasta Paul, I revised the error propagation section. It is significantly expanded, to give some background on 1) where the error propagation expression comes from and 2) why we use a Taylor-series expansion. Please give it a read to see if I'm off base anywhere. I did assume linearly uncorrelated raw data throughout, to avoid introducing covariances, etc., though with a reference that reade

[2018-02-20 19:12] mangiapasta commented on #6
Okay thanks.  I'll try to give this a look soon.  Currently we're in the middle of IMS season, with a large deadline coming up this Friday.  I can't promise anything before then, but I should be back on this by early next week at the latest.

[2018-02-20 19:18] dwsideriusNIST commented on #6
I've added a PDF to the repo.

[2018-02-20 20:12] dwsideriusNIST commented on #34
Addressed in https://github.com/dmzuckerman/Sampling-Uncertainty/commit/a036057bc85bd013e632855e490ae14f93a667d7

[2018-02-20 20:12] #34 closed

[2018-02-21 20:06] dwsideriusNIST commented on #29
I'm closing this issue as we seem to have iterated on a final version. Also see comment in #34

[2018-02-21 20:06] #29 closed

[2018-03-07 21:31] dmzuckerman commented on #33
@agrossfield would you please take a look at Paul Patrone's question regarding 'block covariance in Sec. 6.1?  It should be quick to deal with.  As for me, in addition to addressing Paul's question on my method in the same section, I'm going to try to re-work the intro to Sec. 6 a bit more so that (a) materials science folks can benefit, but (b) we don't get so abstract we lose the non-expert bio

[2018-03-07 21:33] dmzuckerman commented on #23
@drroe some quite minor things for you in the clustering section (4.4)

[2018-03-07 21:35] dmzuckerman commented on #7
@drroe I think Paul went through and left some additional questions in Sec. 8.1.  Please clarify all as best you can.  Thanks a lot.  --Dan

[2018-03-08 19:22] drroe commented on #7
My apologies for taking so long. Machine room move is now complete so I actually have time to get to this. I'll address the issues in section 8 one by one in separate comments (I'm also modifying the text as I go, will push soon):

"High" and "low" here refer to e.g. a low exchange acceptance rate relative to the overall average. For example given 6 replicas the exchange acceptance between them ma

[2018-03-08 19:25] drroe commented on #7
Ostensibly you're running replica exchange to enhance your sampling. If you have a set of starting coordinates that never makes it to your highest replica, it never gained any benefit from that replica and you might as well not have had that high replica at all - make sense? It's related to the previous comment. I've tried to clarify in text.

[2018-03-08 19:33] drroe commented on #7
This is related to the comment about exchange acceptance rates being more or less equivalent between all neighboring replicas. It will indeed be a distribution of times but the distribution should be very narrow if you're moving freely through replica space.

[2018-03-08 19:41] drroe commented on #7
Equivalent means they really should be the same. Ideally if one set of starting coordinates spends on average 6 ps at one replica, it should spend 6 ps at every other replica. This is again related to freedom of movement in replica space. Take the previous example - at some point in the simulation a set of coordinates that started in that simulation at replica 0 might have a distribution of averag

[2018-03-08 19:51] drroe commented on #7
I will note that we never really quantified what is "good" and "bad" - in the example I gave I was comparing to different replica runs, where it was apparent that the distribution of replica residence times in one run was far narrower than in the other (indicating better replica movement in the first run).

[2018-03-08 19:57] drroe commented on #7
I don't think we want to head off into re-deriving REMD exchange acceptance here as it seems off-topic; we are talking about assessing uncertainty in these simulations, not the details of the simulations themselves right? Anyway, all that stuff is contained in the references mentioned just prior (50 and 51 at the time I'm writing this comment).

[2018-03-08 20:19] drroe commented on #7
The general case of replica exchange is modification of the Hamiltonian. Temperature is a specific case of this. When you derive the exchange acceptance criterion, if the Hamiltonians between neighboring replicas are the same it ends up simplifying the exchange acceptance to a delta Beta delta E,
[code]
where B1 is 1/kT1 etc, E is the Hamiltonian, and Y and X are the coordinates. If the Hamiltonia

[2018-03-08 20:33] drroe commented on #23
Took a crack at adding equation for RMSD - my latex math formatting is a bit rusty though...

[2018-03-08 20:44] drroe commented on #23
Added brief explanation for clustering (and reference), and additional reference for combined clustering.

[2018-03-08 21:57] dmzuckerman commented on #23
Thanks a lot for all the edits @drroe !

[2018-03-19 16:54] dmzuckerman commented on #23
@mangiapasta previously I wrote a comment questioning this sentence from Sec. 4:
"Importantly, this technique [block autocorrleation analysis] can help to distinguish long-timescale trends in otherwise equilibrated data from truly non-equilibrated systems."
To clarify, I think it's confusing to imply there is a difference between a 'truly' non-equil system and a system with long-timescale trends.

[2018-03-19 21:46] dmzuckerman commented on #7
@drroe - Thanks a lot for all those edits.  Just FYI, I expanded intro to Sec. 8 (enhanced sampling) and made a few tweaks to REMD Sec 8.1 based on your edits and comments by @mangiapasta .

[2018-04-19 19:06] drroe commented on #7
Regarding the comment in this section about referring to Figures in other manuscripts:

I think it's fine to do this in this kind of "How-To" document. It saves space and encourages readers to look at relevant literature. The reviewer appeared to be a little ambivalent about this, so I think we can leave as-is.

[2018-04-19 19:11] dwsideriusNIST commented on #7
I'm in agreement with @drroe, no need to clutter up this document with extra figures. Perhaps we reconsider removal of some of the other figures, though.

[2018-04-26 20:57] dmzuckerman commented on #6
@dwsideriusNIST and @mangiapasta please check out my recent commit which is mostly quite small stuff in response to NIST reviewers.  One thing of substance I have realized since we started this project is that bootstrapping confidence intervals (CIs) are not completely reliable, so I added a cautionary note and a couple of references.

And this is not in the manuscript, but ... I would probably go

[2018-04-26 23:55] agrossfield commented on #6
This is where I usually reference Rumsfeld talking about "unknown unknowns".

Dr. Alan Grossfield
Department of Biochemistry and Biophysics
University of Rochester Medical Center

On Apr 26, 2018, at 4:57 PM, dmzuckerman <notifications@github.com<mailto:notifications@github.com>> wrote:

@dwsideriusNIST<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_dwsideriusNIST&d=DwMFaQ&c=4sF48

[2018-04-27 12:49] dwsideriusNIST commented on #6
Dan, I'll look at your revisions either this afternoon (east coast time) or on Monday. I would guess we have 1 1/2 weeks max before NIST approval; it needs one more signature before going to to the review committee.

[2018-04-27 13:41] mangiapasta commented on #6
I'm reading through the whole manuscript in detail now.  I'll get back to you in a day or so with comments.  Currently through 10 of 23 pages.  Overall this is looking much better.  I like the RMSD discussion now.  It needs a small amount of tweaking in my opinion, but nothing major.  I will weigh in on that when I compile my full list of comments.

________________________________
From: dmzuckerm

[2018-04-27 14:34] dmzuckerman commented on #6
@mangiapasta please just edit (rather than commenting) unless you think something is very controversial.  This will save time.  I'll be happy to look over any changes from your commit.  Thanks!

[2018-04-27 14:35] mangiapasta commented on #6
Will do

________________________________
From: dmzuckerman <notifications@github.com>
Sent: Friday, April 27, 2018 10:34:10 AM
To: dmzuckerman/Sampling-Uncertainty
Cc: Patrone, Paul (Fed); Mention
Subject: Re: [dmzuckerman/Sampling-Uncertainty] Specific observables section (#6)

@mangiapasta<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fmangiapasta&data=02%7C01%7Cp

[2018-04-27 20:27] dmzuckerman commented on #23
What @mangiapasta did looks correct to me, even though our community is usually much sloppier about the notation.  @agrossfield should we leave it as is or do you have another idea?

[2018-04-27 20:42] agrossfield commented on #23
Not to be a pain in the ass, but I think it’s unnecessarily confusing, particularly since alignment is not done by minimization — the Kabsch algorithm is an “analytical” approach that finds the best translation-rotation matrix in one shot.

I would just give the equation without the  “min” prefix and say

“…where r and s are the coordinates of two distinct configurations.  In general, the two conf

[2018-04-27 21:11] mangiapasta commented on #23
I'm fine with either approach (including min with its arguments or dropping min altogether), but the statement needs to be self-consistent and unambiguous.  \min without arguments it not meaningful in this context.

________________________________
From: Grossfield Lab <notifications@github.com>
Sent: Friday, April 27, 2018 4:42:30 PM
To: dmzuckerman/Sampling-Uncertainty
Cc: Patrone, Paul (Fed); M

[2018-04-28 01:40] mangiapasta commented on #6
@dwsideriusNIST Dan, in Eqs. 18 and 19 of the Specific Observables section, there is weird notation _{x_{l \neq j}} appearing after one of the parentheses and before the larger vertical bar.  Is that a typo or did you mean something by it?  I couldn't figure out what that "l" (lowercase L) was referring to, and it didn't seem consistent with what you were trying to say re: Taylor's theorem. Also,

[2018-04-30 13:36] dwsideriusNIST commented on #6
@mangiapasta I looked over the equations to figure out what the issue is. The weird notation you pointed out was the "hold these fixed" part of the partial derivative - the "not equal to" sign was mangled, it must be a font issue. It's a notation convention that I (many of us) use in macroscopic thermodynamics, i.e., use an index variable (in this case "l") that is otherwise unused to indicate whi

[2018-04-30 13:40] mangiapasta commented on #6
Ah, okay I see what you were saying about the "hold these fixed".  I've seen similar things in some stat-mech textbooks, but never with the not-equal sign.  Anyways, I have a modest preference for removing that if you're okay with it.  The partial derivative implies the other variables should be fixed, as you point out.

It seems like you had a justification for using the set notation, so let's le

[2018-05-18 16:07] #35 closed

[2018-05-31 01:50] #33 closed

[2018-05-31 01:51] dmzuckerman commented on #32
@mangiapasta @dwsideriusNIST should we close this issue?

[2018-05-31 01:51] #30 closed

[2018-05-31 01:52] #28 closed

[2018-05-31 01:53] #25 closed

[2018-05-31 01:57] #24 closed

[2018-05-31 18:03] dwsideriusNIST commented on #32
How about we leave this open as a point of discussion for a revision?

[2018-05-31 18:04] #23 closed

[2018-05-31 18:04] #7 closed

[2018-05-31 18:05] #6 closed

[2018-06-05 22:21] dmzuckerman commented on #32
@mangiapasta and @dwsideriusNIST I removed comments in all files but there were a few commented-out lines in the definitions section that I left in place because I thought you two should confirm and delete those if they're unwanted.

[2018-06-06 14:09] dwsideriusNIST commented on #32
I cleaned out the remaining comments and left some notes in place that may be useful for future revisions.

[2018-08-17 13:10] dwsideriusNIST opened #36 "Eq. 32: Define \Tau"
Just define \tau in eq. 23

[2018-08-17 13:10] dwsideriusNIST opened #37 "PDF Rendering Issues"
From a reviewer: "The pdf i received had substantial formatting issues. It appears that the letters "fi" often was reproduced as "!" and many other such curious formatting issues appeared. For example, there where "squares" where letters should be and "Definitions" has an á with no fi. I encourage the editors / authors make sure these formatting issues do not appear in the final version."

Can any

[2018-08-17 13:11] dwsideriusNIST opened #38 "N vs N-1"
From a reviewer: For eqn 8, the authors may wish to discuss when n and n-1 is needed. I find this is a source of confusion with students.

[2018-08-17 13:11] dwsideriusNIST opened #39 "Checklist"
Per reviewers

In the checklist on page 6 the authors say "Consider publishing unprocessed simulation data…" Perhaps the authors would like to be a little stronger here? Strongly urge? I think this is important and perhaps they do too.

[2018-08-17 13:13] dwsideriusNIST opened #40 "Fig 2 explanation"
Per reviewer:
The lower panel of Fig 2 could use a little more explanation. The caption should define the colors which I think are RMSD angstroms.

[2018-08-17 13:14] dwsideriusNIST opened #41 "Bootstrap Section"
Per reviewer

"Section 7.6 is key, and again I was wanting to see more details - this topic is confusing to students and if the authors could provide more details with an example, it would be great."

NOTE: In email discussion with @mangiapasta, we agreed that this section has to rely on references; to do a full work up of bootstrap/resampling would be a paper by itself.

[2018-08-17 13:15] dwsideriusNIST opened #42 "Propagation of Uncertainty"
Per reviewers:

"In section 7.4 (propagation of uncertainty) expressions for the uncertainty of derived quantities are derived. While it is nice to see the derivation, I personally don’t think it is very necessary as the aim of the manuscript is to give basic orientation in the field of uncertainty analysis. It is the only derivation in the whole manuscript."

"However, section 7.4 is completely o

[2018-08-17 13:18] dwsideriusNIST opened #43 "Equillibration and Quantification of Global Sampling"
Per reviewers:

"In section 5, the authors suggest to remove non-equilibrated trajectory regions from the beginning of simulations to improve simulation results. In my experience, this can indeed be very important and improve convergence of results a lot. Two references (27,28) for the determination of the time needed for equilibration are given, which both discuss algorithms for automated determi

[2018-08-17 13:20] dwsideriusNIST opened #44 "Notation / Definitions"
Per reviewers:

"p3: In a didactical sense, maybe it would be worth stating (footnote?) that a probability distribution P(x) has units which are inverse of those of x, and that it should be normalized (i.e. integrate to one); "probability" graphs which are not normalized or/and reported in "arbitrary units" or in "percent" are a very common "bad practice", I think"

"p3/footnote 3: "As such, we ca

[2018-08-17 13:21] dwsideriusNIST opened #45 "Qualitative / semiquantitative Checks"
Per Reviewer:

"p10: I think that it is dangerous to oppose a "strategy 1" where you do N "independent" repeats and use stddev/sqrt(N) to a "strategy 2" where you do a single simulation and need to worry about correlation times. As a beginner, I would go for strategy 1 because it seems you have much fewer things to worry about. And if I am a "greedy" beginner and I can do 1000 potential evaluation

[2018-08-17 13:22] dwsideriusNIST opened #46 "ACF / Block Analysis"
Per Reviewers:

"p4: At "correlation time", maybe add a footnote for the MC case (as there is no "time" there); later, a footnote 11 says this, but it is a bit late"

"p11/footnotes 14,15: Very often, one encounters TCFs that have a damped-oscillatory form. It is not clear at all to me how to extract a "tau" from these. And the time integral of C(tau) is only expected to deliver tau if C(tau) is e

[2018-08-17 13:24] dwsideriusNIST opened #47 "REMD"
Per Reviewer:

"p19: The authors might want to add local-elevation, which predates the two cited methods."

[2018-08-17 13:24] dwsideriusNIST opened #48 "Catch all / Remaining Reviewer Comments"
Reviewer comments:

"Some pitfalls could be mentioned. Students often take the average from a trajectory and then the standard deviation and assume this is the "error bar"! They don't realize that the standard deviation here is just a measure of the fluctuations, which is just related to system size. It might be worth mentioning somewhere."

"The density of information contained in different secti

[2018-08-18 16:24] #45 closed, assigned to agrossfield, dmzuckerman

[2018-08-18 16:26] agrossfield commented on #40
Modified caption to add units.

[2018-08-18 16:26] #40 closed

[2018-08-18 16:29] agrossfield commented on #37
I also can't reproduce the problem.  I wonder if something went wrong either with the journal's translation, or if there's something funky in the reviewer's set up.  We should probably get someone to check on Windows though, since I too only checked on Linux and Mac.

[2018-08-18 16:34] agrossfield commented on #41
I think the reviewer has a point, in that the discussion goes a little quickly.  I think we should add a sentence right near the top, perhaps as the second sentence:

A full discussion of bootstrapping and resampling methods is outside the scope of this article; we will cover the broad strokes here, and suggest interested readers consult excellent discussions elsewhere for more details (e.g. Refs

[2018-08-18 16:41] agrossfield commented on #48
In response to the first issue, I added a sentence to the definition of standard deviation, reminding the reader that std dev is a measure of the width of the distribution and not a measure of statistical uncertainty.

[2018-08-18 16:47] agrossfield commented on #48
In response to the third issue, I added a sentence to the scope section, saying we don't address bugs and implementation errors.

I didn't add a reference to software best practices -- isn't there an article on that coming from the same workshop that led to this article?

[2018-08-20 13:46] dwsideriusNIST commented on #44
Commit addresses:
1) units of P(x)
2) estimation of P(x) and its properties

I do not want to edit the definition section to deal with the s(x) versus s(x_j) issue; that note is included only because the VIM & GUM use the s(x_j) notation that we thought clunky and we want to make clear what *we* mean by s(x). We'll include a reply in the response letter.

@mangiapasta can you address the "stronger

[2018-08-20 13:51] mangiapasta commented on #44
Yes, I will work on that today.  Won't be before this afternoon though

________________________________
From: Daniel W. Siderius <notifications@github.com>
Sent: Monday, August 20, 2018 9:46:59 AM
To: dmzuckerman/Sampling-Uncertainty
Cc: Patrone, Paul (Fed); Mention
Subject: Re: [dmzuckerman/Sampling-Uncertainty] Notation / Definitions (#44)

Commit addresses:

  1.  units of P(x)
  2.  estimatio

[2018-08-20 14:16] dwsideriusNIST commented on #46
Please take a look at revisions on page 4 and 16 to deal with the correlation time and the block size issue.

My footnote about the block average not equaling the trajectory average was included due to personal experience. Say there are 10^6 observations; the first blocking operation uses a block size of 5^5 and does not discard data. The second block operation divides the sequence into three bloc

[2018-08-20 15:12] dmzuckerman commented on #44
@mangiapasta @dwsideriusNIST @agrossfield
If someone is willing to start a response letter now, I think that will save us a lot of time and hassle later.  As soon as you make a change, also add that, with explanation, to the response letter while it's fresh in your mind.  The letter will be much more painful to assemble later.

[2018-08-20 15:37] SmithUoG opened #49 "Uncertainty Propagation Addendum"
I'm late to this discussion, but I'm a strong supporter of the topic and the project, and I have a couple of comments on Section 7.4.

I think that the section is a little "thin".   Although the density example of  Eqs. (20) and (21) is fine, it's a bit trivial, and more examples could be given.  Here are 2.

1. The example of the propagation of the uncertainty in enthalpy to that in Cp is given i

[2018-08-20 16:46] dwsideriusNIST commented on #37
Due to our inability to reproduce the issue, I'm going to blame it on old PDF software and/or a really terrible font set on the reviewer's PC. Let's throw it back to the editors, suggest they ask the reviewer about his PDF viewer configuration, then deal with it if there's something we can do in the rendering step. Closed for now.

[2018-08-20 16:46] #37 closed

[2018-08-20 17:14] drroe commented on #47
Should be addressed by #50.

[2018-08-20 17:20] #47 closed, assigned to drroe

[2018-08-20 17:58] mangiapasta commented on #36
Should be fixed.  Note that \tau is defined, but \mathcal T was not.  At any rate, I modified the text to clarify the meaning of both

[2018-08-20 18:09] dwsideriusNIST commented on #36
Revisions reads fine to me. Closed.

[2018-08-20 18:09] #36 closed

[2018-08-20 18:55] dwsideriusNIST commented on #43
I'm happy with this revision, but would like another set of eyes to check it before closing the issue.

[2018-08-20 18:57] mangiapasta commented on #41
Fine by me.  I made the change

[2018-08-20 19:02] mangiapasta commented on #42
Okay let's discuss this a bit.  If you know how to propagate error through one step, don't you know how to do it through multiple steps...?

Also, use of confidence intervals doesn't really change anything does it?  If you're doing linear propagation, then your \delta x about some mean x is just going to represent the endpoints of the confidence interval, no?

If, on the other hand, you have to pr

[2018-08-20 19:08] dwsideriusNIST commented on #38
I made a very slight text revision to your footnote, 1) to use our macro for s(x), 2) "an" instead of "and", and 3) clarifying that the true standard deviation of the mean is being underestimated.

[2018-08-20 19:12] mangiapasta commented on #38
Looks good.  Thanks

[2018-08-20 19:13] dwsideriusNIST commented on #41
Closed.

[2018-08-20 19:13] #41 closed

[2018-08-20 19:13] dwsideriusNIST commented on #38
Closed.

[2018-08-20 19:13] #38 closed

[2018-08-20 20:15] mangiapasta commented on #42
Okay I may put a few sentences in on polynomial chaos / surrogate modeling, but only enough to point to relevant issues and the fact that these are open questions.

I like the derivation as is

[2018-08-21 14:00] mangiapasta commented on #42
Okay, I addressed this issue in a new subsection at the end of Section 7.  If it's inappropriate, just take it out.  I tried to keep the discussion short and sweet, basically just pointing out obvious extensions of linear analyses and highlighting that harder propagation problems are active research.  I pointed to Ralph Smith's book on UQ and a few other papers where force-field propagation was in

[2018-08-21 14:13] dwsideriusNIST commented on #42
I made some slight edits to your revision. Looks good to me now. Closed.

[2018-08-21 14:13] #42 closed

[2018-08-21 14:19] mangiapasta commented on #42
Can I edit footnote 16 some, or are you working on it.  It's got some mathematical ambiguity that I want to clear up

________________________________
From: Daniel W. Siderius <notifications@github.com>
Sent: Tuesday, August 21, 2018 10:13:51 AM
To: dmzuckerman/Sampling-Uncertainty
Cc: Patrone, Paul (Fed); Mention
Subject: Re: [dmzuckerman/Sampling-Uncertainty] Propagation of Uncertainty (#42)

Cl

[2018-08-21 14:50] mangiapasta commented on #46
So regarding the question about p11 and footnotes 14 and 15, I think there are some ambiguities we need to clear up.

1) I think the reviewer is thinking of a correlation time like C(t-t') ~ exp[-|t-t'|/tau], where tau is the correlation time.
2) I don't think we mean the same think; namely correlation time as we define it is the tau for which t>tau => C(t) = 0 to within uncertainty
3) So, in Eq.

[2018-08-23 13:35] dwsideriusNIST commented on #46
In reply to @mangiapasta:

1, 2: I agree that the reviewer is conflating two concepts, so we can just brush this comment aside
3: No, the "N_lags" in eq. 12 is correct; the summation is over the C_j where j identifies a specific lag. The sum variable was incorrect (i vs. j) and I've corrected that in the most recent commit.
4: Yes, we could say that tau can be obtained by inspection, but I am in f

[2018-08-23 13:46] mangiapasta commented on #46
On point 3, I'm confused though.  If we take definition 2 as our meaning of correlation time, then shouldn't C_j=0 for j > tau?  So a bunch of terms in that sum are zero. I guess there is no harm in using N_lags, but it's not as precise.

[2018-08-23 13:47] mangiapasta commented on #46
Alternatively, leaving N_lags gets around the problem of having to actually compute tau.  Admittedly I think we only introduce the latter concept as a heuristic tool to understand correlation, not as a necessary computational tool.  Is that correct?

[2018-08-23 14:02] dwsideriusNIST commented on #46
OK, I see my mistake in interpretation. We have
1) a hard definition of tau, e.g. the time for which <x(t+tau)x(t)> = 0
2) the N^{ind} definition in eq 12, which doesn't directly reference tau

I'll admit that I've seen competing definitions of N^{ind} in terms of all of the lags (our version 12) and in terms of just the "correlated" region of the ACF.
But then there is the question "what about la

[2018-08-23 14:06] mangiapasta commented on #46
Okay I think we're more or less in agreement.

As regards the oscillatory correlations, I think that's actually already accounted for in our definition because it is stated in terms an open set of times extending to infinity, not individual times.

That is, tau is the time for which C(t) = 0 *for all t > tau*.

[2018-08-23 14:10] mangiapasta commented on #46
I think that's why it can essentially be estimated by inspection.  So I would actually rewrite your definition 1 to include "for all t > tau."

The more I think about it, there is a hidden danger in using N_lags.  Specifically, if there is noise in the correlation function, there is a good chance it may be (or at least look like) white noise.  Thus, if you integrate over all lags, and C -> 0 for s

[2018-08-23 14:11] dwsideriusNIST commented on #46
Yes, I agree that were in essential agreement.

This is, perhaps, where my inner engineer comes through. C(t) = 0 _for all t > tau_ may not exist, so is the correlation time infinite? For practical reasons, though, the sum definition yields a reasonable estimation of the number of independent samples.

[2018-08-23 14:12] mangiapasta commented on #46
I saw this exact problem bite someone pretty badly just last week.  It happens in the case of integrating autocorrelation functions associated with viscosity calculations.  The integral converges for a while and then begins to diverge, precisely because one is integrating noise as soon as the signal dies down too much.

[2018-08-23 14:12] mangiapasta commented on #46
Yes, in that case the correlation time is infinite.  That's not to say it can't be integrated, or even asymptotically approximated, which is what the sum definition is doing.

[2018-08-23 14:13] dwsideriusNIST commented on #46
I've encountered the same issue in obtaining viscosity / diffusivity from an ACF. We put a hard bound on the summation when using that technique.

But isn't that partially related to the fact that a moment of the ACF is used? Whereas for computing N^{ind}, we just summing the ACF, so any white noise should cancel itself out.

[2018-08-23 14:13] mangiapasta commented on #46
I guess the problem I'm thinking about is that N_lags actually needs to be only those lags over which the signal-to-noise ratio of the correlation function is significant, i.e. at least O(1) and maybe larger

[2018-08-23 14:14] mangiapasta commented on #46
No, noise does not cancel, only in the average.  But realizations will give you a Brownian motion

[2018-08-23 14:15] mangiapasta commented on #46
Sorry, let me be clearer, individual realizations of integrating noise are realizations of a brownian motion.  Brownian motion is only zero on averaging between realizations.  Individual brownian motions are effectively never zero

[2018-08-23 14:42] dwsideriusNIST commented on #46
So... what is the best approach here for providing a "way to do this"? The readers want clear instructions, which requires some sort of unambiguous recipe.

[2018-08-23 14:50] mangiapasta commented on #46
Yeah, I'm struggling with that question myself.  I'm leaning towards saying one needs to find estimate tau if it is finite or use N_lags is the correlation function does not devolve to noise.  But as far as I can tell, there is not a clear "winner" that the community has adopted.  I don't think the community has even really tried to address this problem clearly, have they?  I only started thinking

[2018-08-23 16:26] mangiapasta commented on #46
@dmzuckerman

I think what you suggest is a level-headed approach.  @dwsideriusNIST I can take a crack at this if you want.  Also happy to wait and entertain other opinions first.

[2018-08-23 16:47] agrossfield commented on #46
I agree with @dmzuckerman as well.

As for implementing in LOOS, :-)

[2018-08-23 17:27] dwsideriusNIST commented on #46
@mangiapasta go ahead with a rewrite.

My main concern here is that we don't hamstring a particular approach by presenting perfectly impractical theory. Sorry, I'm an engineer at heart.

[2018-08-23 17:51] mangiapasta commented on #46
No problem.  Trust me, I understand your perspective on this.  I just want to make sure that people are aware of the pitfalls of integrating noise out to infinity because those pitfalls rear their heads in many real-world settings.  I myself have been caught off guard by this very point despite having a background in stochastic differential equations!  I'll try to thread this needle delicately.

[2018-08-23 21:03] mangiapasta commented on #46
Okay I took a first crack at the revision.  I added a small paragraph at teh end of the ACF subsection contained in Section 7.  I also modified the definition of correlation time.  Feel free to edit as appropriate.

[2018-08-24 14:55] dwsideriusNIST commented on #46
@mangiapasta I'm happy with the changes you made.

[2018-08-24 14:55] #46 closed

[2018-08-24 14:56] #43 closed

[2018-08-24 17:29] #48 closed

[2018-08-24 17:31] #44 closed

[2018-08-24 19:15] agrossfield commented on #49
This is an interesting suggestion, but I think an additional example would make this section too long relative to its importance.  Moreover, I think the second example, while really cool, is too advanced for the goals of this manuscript, in the sense that it would force us to address a simulation technique that our intended audience (people relatively new to molecular simulation) likely are not fa

[2018-08-24 19:17] dwsideriusNIST commented on #49
@agrossfield I completely agree that it's a beneficial idea. But Paul and I decided to ignore it for the time being so that the paper v1.0 is finished in a timely manner.

We can do this (perhaps invite @SmithUoG to be an author) in a future revision or as an accompanying Jupyter notebook.

[2018-08-24 20:35] SmithUoG commented on #49
OK with me too, since I'm a "Johnny Come Lately" to this party anyway.

But let me comment that error/uncertainty propagation is a HUGELY important and often overlooked topic, not only in molecular simulation, but in all areas of science where data analysis is involved.  So I would claim to the contrary that "the section is too short relative to its importance" :-)

Also, the examples are "generic

[2018-08-24 20:36] SmithUoG commented on #49
Oops, I forgot the second paper.  Here it is.

@article{Nicholls2016,
   author = {Nicholls, A.},
   title = {Confidence limits, error bars and method comparison in molecular modeling. Part 2: comparing methods},
   journal = {J Comput Aided Mol Des},
   volume = {30},
   number = {2},
   pages = {103-126},
   year = {2016},
}

[2018-08-27 17:31] dmzuckerman commented on #49
@SmithUoG thanks for the references and the suggestions.  I will try to look over all this in the next couple of days.  I agree with you that understanding uncertainty in all derived quantities is very important.  This is one reason why bootstrapping approaches are valuable ... they implicitly capture the uncertainty propagation - @mangiapasta do you agree?

[2018-09-06 17:43] ocmadin opened #53 "Quantitative comparison between autocorrelation function and block averaging"
In section 7.3, there is a discussion of autocorrelation analysis and block averaging as methods for estimating the number of independent samples, but the discussion does not make any recommendations on whether it is better to use either method in specific cases.

Have there been any studies to quantitatively compare these two measures? For example, testing the minimum number of samples before eac

[2018-09-06 20:11] mrshirts commented on #53
I'll just echo this (Owen is a student in my lab)!  We are willing to do some tests, but want to make sure that we aren't reduplicating work that other people have done previously!

[2018-09-06 20:13] agrossfield commented on #53
I can’t speak for the whole team, but I was under the impression we left it vague because we don’t know if there’s a systematic answer.  I tend to be more comfortable with block averaging, but I don’t think there’s a known “best practice” there yet.

Alan

________________________________
Dr. Alan Grossfield
Associate Professor
Department of Biochemistry and Biophysics
University of Rochester Medi

[2018-09-06 20:17] dmzuckerman commented on #53
I'm not aware of a head-to-head comparison, but perhaps @mangiapasta may know.  I would be quite interested in your results if you obtain any.

One advantage of block-averaging is that it gives you an uncertainty estimate directly, without the need to separately compute the number of samples.

[2018-09-06 20:26] mangiapasta commented on #53
I don't know offhand if there has been a comparison.  I have a suspicion that under certain assumptions (e.g. finite correlation time) there may be simple relationships between estimates of the variances computed from each method, but don't quote me on that.

[2018-09-06 20:51] dwsideriusNIST commented on #53
From a "this is purer" POV, autocorrelation analysis seems to be
superior to block averaging. There's even a note in the original
Flyvberg paper that points out how the block averaging technique is a
balance between mathematical rigor and computational effort. I've had
the feeling that block averaging became popular because it was cheap and
could be done on the fly if the block size was preselecte

[2018-09-06 20:54] ajschult commented on #53
We tried computing uncertainties using the autocorrelation function recently and found the results to be quite poor in comparison to block averaging, especially when the autocorrelation fluctuates out to long times where it cannot be computing precisely.  Block averaging has more trouble with such situations than those that decay quickly, but not nearly as much as the autocorrelation approach.

[2018-09-06 21:18] dmzuckerman commented on #53
In regards to @dwsideriusNIST comment "block averaging became popular because it was cheap and
could be done on the fly if the block size was preselected"

The proper/informative way to do block averaging explicitly requires checking all possible block sizes and not pre-selecting the block size.  This is key.  Is it 'rigorous'?  I think it's close enough for physicists.  Certainly the tail challen

[2018-09-06 21:56] mrshirts commented on #53
Glad to get all the discussion! This just SEEMS like a question that the statistics community must have answered at some point, isn't it?  Understanding what you can conclude from timeseries is their bread and butter, right?

If not, some recognition of what is what seems to be highly needed . . .  Especially how to determine the number of independent samples (either explicitly (autocorrelation) o

[2018-09-06 21:56] mrshirts commented on #53
Also, block averaging vs. block bootstrapping is of interest . . .

[2018-09-06 22:20] dmzuckerman commented on #53
i think block bootstrapping implicitly assumes you have multiple samples ... which is (part of) what one is trying to figure out.

fyi a caution on bootstrapping: http://statisticalbiophysicsblog.org/?p=213

[2018-09-07 12:14] dwsideriusNIST commented on #53
in reply to @dmzuckerman "The proper/informative way to do block averaging explicitly requires checking all possible block sizes and not pre-selecting the block size. This is key. Is it 'rigorous'? I think it's close enough for physicists. Certainly the tail challenge in ACF noted above and in prior discussions is quite tricky."

I think this gets back to one of our purposes in writing the paper:

[2018-10-15 13:48] richardjgowers commented on #53
It's not a full investigation of the two approaches, but we briefly compared them in Figs 2&3 here:

https://www.tandfonline.com/doi/pdf/10.1080/08927022.2017.1375492?needAccess=true

We found that autocorrelation plots were much easier to read/automate reading than blocks.  It's also a little strange to measure the autocorrelation by trying to find a blocksize where you don't see the effects of i

[2018-10-16 20:42] dmzuckerman commented on #53
There are two goals in this type of error analysis: (1) deterimine autocorr time and (2) determine uncertainty.  For (1) I guess autocorr plot is better.  But for (2), which arguably is more bottom-line, I would put my money on blocking.  In Fig. 3 of @richardjgowers paper linked above, the BSE seems to be convincingly estimated.  I'm sure both approaches struggle with insufficient data - no surpr

[2018-11-07 20:40] davidlmobley commented on #53
I think Mike Gilson's group has done some work trying to look at some of this. Someone may want to rope him in for a discussion.

With respect to Michael's comment:

Note that this can be addressed in the repo as soon as anyone wants to, and then those changes just naturally roll into the next peer-reviewed version when they are ready. :)

[2018-11-07 20:42] davidlmobley commented on #49
Note also the idea of having supporting documents (or Jupyter notebooks) in the repo itself which would be linked to from the main text is probably a rather good one and a way to introduce more concepts in the paper without having to expand it a lot. :)

[2018-11-07 20:43] davidlmobley opened #55 "Reference that might (or might not) be useful"
[This paper](https://pubs.acs.org/doi/abs/10.1021/acs.jctc.8b00391?journalCode=jctcce) looks at reproducibility of simulations evaluated based on large numbers of simulations of the same thing. Seemed like it MIGHT be relevant to your paper though I haven't read it yet. So take it or leave it. :)

[2018-11-08 01:53] dmzuckerman commented on #55
Thanks!

[2018-11-30 10:57] ppernot opened #56 "Title of Section 7"
I propose that the title of section 7 be changed to "Computing error bars in specific observables", or, maybe better, "Computing uncertainty in specific observables".
Computing the error (in the VIM sense) would require to know the true value...

[2018-12-01 00:35] dmzuckerman commented on #56
Good point!  Thank you.

[2018-12-03 14:21] dwsideriusNIST commented on #56
Accepted in PR #57

[2018-12-03 14:21] #56 closed

[2018-12-05 10:17] ppernot commented on #53
There is still another method based on time-series analysis which is commonly used in statistics for the analysis of Markov Chain Monte Carlo samples. It is based on the fit of the sample by an Auto Regressive process. See e.g. [Thompson 2010](https://arxiv.org/abs/1011.0175). This might be an interesting addition to the discussion in Sect 7.3...

[2018-12-05 10:28] ppernot opened #58 "First author of ref 50 is not boldface"

[2018-12-06 12:40] dwsideriusNIST commented on #58
This is a known bug in the BST file (also affects ref 20). The short description is that for "edited book," the BibTeX compiler bolds either both the editor names *and* the section author names or none. Both of those references are edited books.

That said, we would like to fix it in a revision to the BibTeX style. If you have any BibTeX experience that could assist, please say so! The main thread

[2018-12-06 12:40] #58 closed

[2019-09-10 17:49] dwsideriusNIST opened #59 "Propagation of Uncertainty - Degrees of freedom for pooled uncertainty"
A small revision to the paper could be add a paragraph that describes how to estimate the degrees of freedom for the pooled uncertainty from the source measurements (Welch–Satterthwaite equation), which facilitates computation of confidence intervals for derived quantities.

[2019-10-03 19:58] zjing7 opened #60 "Definition of correlation time is uncommon"
"the correlation time (denoted here as τ ) is the longest separation time ∆t over which x(t)
and x(t+∆t) remain (linearly) correlated."
This definition is very intuitive and easy to calculate, but in practice, it is rarely used and inconsistent with popular definitions.

For example, the rotational correlation time τ is defined such that R(_t_) = R(0) exp(-_t_/τ), where R is analagous to the corre

[2019-10-04 15:03] dmzuckerman commented on #60
Thanks for your comment @zjing7 .  We did debate this quite a bit and probably should have made a comment in the paper to indicate common procedures/ideas.  Our main concern was practical difficulties in calculating \tau except in cases where you have such good sampling that you probably don't need to calculate it!  You probably know that the exponential decay is only expected for the simplest sys

[2019-12-17 18:24] davidlmobley opened #61 "Update with DOI of published article?"
It'd be nice to make it slightly easier to navigate to the published version of the article from the repo. Perhaps update the main README.md to link to it by DOI?

[2019-12-18 13:46] dwsideriusNIST commented on #61
Addressed in commit 5380c6b

[2019-12-18 13:46] #61 closed

[2021-09-10 14:47] dwsideriusNIST opened #62 "Vocabulary: 'Confidence Interval' should be changed."
Learn something every day...

Per the VIM and GUM, the term 'confidence interval' (See VIM, definition 2.36 [coverage interval], Note 2; or GUM 6.2.2) should not be used. This would involve a lot of revisions to the paper.

Substitutions: 'coverage interval', 'expanded measurement uncertainty', or (not in GUM, but suggested by a NIST statistician) 'uncertainty interval'.

[2021-09-11 00:17] dmzuckerman commented on #62
Wow, and ouch!  Certainly, confidence interval is used *very* widely.  But I guess we did want to stick to VIM.  Do we have to do more than search and replace?  Add to our glossary section?

[2021-09-11 00:34] agrossfield commented on #62
At a minimum, if we’re not going to use the term confidence interval, we absolutely must define it, if only to give a preferred term. Otherwise, we’re abdicating our teaching role

Dr. Alan Grossfield
Department of Biochemistry and Biophysics
University of Rochester Medical Center

On Sep 10, 2021, at 8:17 PM, dmzuckerman ***@***.***> wrote:

﻿

Wow, and ouch! Certainly, confidence interval is use

[2021-09-13 14:43] dwsideriusNIST commented on #62
I think we have to deal with this in multiple ways:
1. update the vocabulary, where we can also give 'confidence interval' as a colloquial usage while recommending against its usage [this should address Alan's concern about education]
2. revise its usage throughout the paper - direct substitutions are probably OK, but let's check each

I'll try to carve out time for this in October/November

Addit

[2021-09-13 20:31] SmithUoG commented on #62
I think the word "confidence interval" is a dangerous/misleading/incomplete term as used in the current scientific literature.

I offer the following draft as a basis for a treatment of "confidence intervals".  (I also think it should be accompanied by examples.)  This is essentially the way I teach the topic within the field of molecular simulation to my graduate students.

Any comments are welco

[2021-09-14 01:34] dmzuckerman commented on #62
Thanks, @SmithUoG , I take your point and it is important.
@dwsideriusNIST I'm pretty busy the rest of this month too.  If you remember, please ping me when your schedule frees up.  Maybe we can handle this in one sitting??